:root {
  font-size: 18px;
  /* Colors by name */
  --white: #fff;
  --black: #292929;
  --gray-xs: #f6f6f6;
  --gray-s: #f1f1f1;  
  --gray-m: #ddd;
  --gray-l: #999;
  --gray-xl: #666;
  --blue-s: #619ccd; 
  /* --blue-m: #1a73e8; */
  --blue-l: #007bff;
  --blue-xxl: #18354c;
}

* {
  box-sizing: border-box;
}

body {
  /* Position the footer element at the bottom */
  position: relative;
  min-height: 100vh;
  padding-bottom: 53px; /* Equal to height(footer) */

  margin: 0;
  background-color: var(--gray-xs);
  color: var(--black);
  font-family: -apple-sytem, BlinkMacSystemFont, Ubuntu, Verdana, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

h1 {
  margin: 40px 0 30px 0;
  font-size: 4rem;
}

h2, h3 {
  margin: 0;
}

p, textarea {
  line-height: 1.6;
}

a {
  color: var(--blue-s);
  text-decoration: none;
  transition: opacity 0.4s;
} 

input, textarea, button {
  width: 100%;
  margin: 9px 0 20px 0;
  border-radius: 5px;
  padding: 15px 8px;
  font-size: inherit;
  font-family: inherit;
} 

input, textarea {
  border: 1px solid var(--gray-m);
  color: var(--gray-xl);
}

input:not([type="submit"]):focus, textarea:focus {
  outline: 3px solid rgba(0, 123, 255, 0.3);
  border: 1px solid rgba(0, 123, 255, 0.5);
}

input[type="submit"], button {
  border: none;
  font-weight: 500;
  opacity: 1;
  transition: opacity 0.4s;
} 

input[type="submit"] {
  background-color: var(--blue-l); 
  color: var(--gray-s); 
}

input[type="submit"]:active, button:active {
  opacity: 0.7;
}

textarea {
  resize: vertical;
}

form fieldset {
  margin: 0;
  border: none;
  padding: 0;
}

form legend {
  padding: 0;
  color: var(--blue-xxl);
  font-size: 1.5rem;
  font-weight: 500;
}

#header {
  background-color: var(--blue-xxl);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgb(0, 0, 0, 0.19);
} 

#main {
  width: 100%;
}   

#sidebar {
  width: 100%;
}

#title, #subtitle {
  color: var(--blue-xxl);
  text-align: center;
}

#profileForm {
  display: none;
}

/* General CSS Classes >>> */

/* Clear floating elements */
.clearfix::after {
  display: table;
  content: "";
  clear: both;
}

/* Prevent text from wrapping */
.nowrap {
  white-space: nowrap;
}

.post-title {
  font-size: 2rem;
}

.container {
  width: 100%;
  margin: 0 auto;
} 

.gap {
  height: 40px;
  margin: 30px;
}

.card {
  position: relative;
  border-top: 1px solid var(--gray-m);
  border-bottom: 1px solid var(--gray-m);
  padding: 0 15px;
  background-color: var(--white); 
}

.hr {
  border: 1px solid var(--gray-xs);
} 

/* Predefined Width */
.width-half {
  width: 50%;
} 
.width-third {
  width: calc(100% / 3);
}
.width-100 {
  width: 100px;
} 
.width-40 {
  width: 40px;
} 
.width-20 {
  width: 20px;
}

/* Predefined Height */
.height-100 {
  height: 100px;
} 
.height-40 {
  height: 40px;
} 
.height-20 {
  height: 20px;
}

/* Predefined Margin */
.mt-48 {
  margin-top: 48px;
}
.mb-48 {
  margin-bottom: 48px;
}  
.mt-30 {
  margin-top: 30px;
}
.mb-30 {
  margin-bottom: 30px;
} 
.mt-40 {
  margin-top: 40px;
}
.mb-40 {
  margin-bottom: 40px;
}  
.mt-26 {
  margin-top: 26px;
}
.mb-26 {
  margin-bottom: 26px;
} 
.mt-24 {
  margin-top: 24px;
}
.mb-24 {
  margin-bottom: 24px;
}
.mt-20 {
  margin-top: 20px;
}
.mb-20 {
  margin-bottom: 20px;
}  
.mt-16 {
  margin-top: 16px;
}
.mb-16 {
  margin-bottom: 16px;
} 
.mt-14 {
  margin-top: 14px;
}
.mb-14 {
  margin-bottom: 14px;
}  
.mt-8 {
  margin-top: 8px;
}
.mb-8 {
  margin-bottom: 8px;
} 
.mt-6 {
  margin-top: 6px;
}
.mb-6 {
  margin-bottom: 6px;
} 
.ml-3 {
  margin-left: 3px;
}
.mt-0 {
  margin-top: 0;
} 
.mb-0 {
  margin-bottom: 0;
}

/* Predefined Text Alignment */
.t-align-left {
  text-align: left;
}
.t-align-center {
  text-align: center; 
}
.t-align-right {
  text-align: right;
}
 
/* Predefined Text Mute Color */
.text-muted-light {
  color: var(--gray-l);
} 
.text-muted-dark {
  color: var(--gray-xl);
} 

/* Predefined Button Color */
.btn-info {
  background-color: var(--blue-l);
  color: var(--gray-s);
}
.btn-default {
  background-color: var(--gray-s);
  color: var(--black);
}

.fright {
  float: none;
}

.fleft {
  float: none;
}

.small {
  font-size: 0.8rem;
} 


.middot {
  padding: 0 4px;
} 

/* Pending */
.fake-avatar {
  display: inline-block;
  border-radius: 50%;
  background-color: var(--gray-m);
  line-height: 0;
} 

.username {
  margin-left: 5px;
  color: var(--black);
  font-weight: 500;
  transition: color 0.4s;
}

.fake-avatar, .username {
  vertical-align: middle;
}

.circle {
  display: inline-block;
  position: relative;
  width: 60px;
  height: 60px;
  border: 1px solid var(--gray-m);
  border-radius: 50%;
}

.abs-center {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%); 
}

.waterdrop {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 20px;
  height: 20px;
  border: 1px solid var(--gray-m);
  border-radius: 50%;
  background-color: var(--gray-xs);
} 

/* <<< General CSS Classes */

/* Specific CSS Classes >>> */

.topnav {
  background-color: inherit;
} 

.topnav div {
  position: relative;
} 

.topnav a {
  display: none;
  padding: 15px;
  background-color: inherit;
  color: var(--gray-s);
  font-size: 1rem;
  font-weight: 500;
  opacity: 1;
  transition: background-color 0.4s, color 0.4s;
}

.topnav .topnav-logo, .topnav .topnav-toggle {
  display: inline-block;
  font-size: 1.2rem;
  font-weight: bold;
}

.topnav .topnav-toggle {
  position: absolute;
  top: 50%;
  right: 15px;
  z-index: 1;
  transform: translateY(-50%);
  border: 2px solid var(--gray-s);
  border-radius: 4px;
  padding: 4px 7px;
}

/* Toggle the top navigation bar */
.toggle a {
  display: block;
}

.footer {
  /* Position the footer element at the bottom */
  position: absolute;
  bottom: 0;
  width: 100%;

  padding: 16px 8px;
  background-color: var(--blue-xxl); 
  box-shadow: 4px 0 8px 0 rgba(0, 0, 0, 0.2), 6px 0 20px 0 rgb(0, 0, 0, 0.19);
}

.footer nav {
  text-align: center;  
}

.footer a {
  padding-right: 8px;
  color: var(--gray-s);
  font-weight: 500;
  opacity: 1;
}

.footer a:last-child {
  padding-right: 0;
}

.badge .title {
  display: block;
  font-size: 1.5rem;
}

.badge .level {
  display: inline-block;
  border-radius: 2px;
  padding: 4px;
  background-color: var(--gray-s);
  font-weight: 500;
} 

.density {
  visibility: visible;
}

.density .num-writers.fleft, .density .num-posts.fleft {
  float: left;    
} 

.density .num-writers {
  animation-name: numWriters;
}

.density .num-posts {
  animation-name: numPosts;
  animation-delay: 4s; /* animation-delay = animation-duration / 2 */
  opacity: 0;
}

.density .num-writers, .density .num-posts {
  animation-duration: 8s;
  animation-iteration-count: infinite;
}

/* Animation: numWriters & numPosts */
@keyframes numWriters {
  0% {
    transform: translateX(0%);
    opacity: 0;
  }

  50% {
    transform: translateX(100%);
    opacity: 1;
  }

  100% {
    transform: translateX(200%);
    opacity: 0;
  }
}
@keyframes numPosts {  
  0% {
    transform: translateX(-100%);
    opacity: 0;
  } 

  50% {
    transform: translateX(0%);
    opacity: 1;
  } 
  
  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}

.density .num-writers h2, .density .num-posts h2 {
  color: var(--blue-xxl);
  font-weight: 700;
}

.density h2, .density p {
  margin: 8px 0;
}

.top-writers {
  color: var(--blue-xxl);
}

.forgot-password {
  position: relative;
}

.forgot-password a {
  position: absolute;
  top: 50%;
  right: 10px;
  z-index: 1;
  transform: translateY(calc(-50% - 5.5px)); /* 50% (margin-bottom(input) - margin-top(input)) = 5.5 */
}

.date-level-author .fleft {
  float: left;
}

.date-level-author span, .date-level-author a {
  display: inline-block;
}

.more-posts h2 {
  font-size: 1rem;
}

.more-posts p {
  font-weight: 500;
}

.previous.fleft, .next.fleft {
  float: left;
}

.previous .circle, .next .circle {
  color: var(--gray-xl);
  font-weight: 500;
}  

.previous .circle:active, .next .circle:active {
  outline: 3px solid rgba(0, 123, 255, 0.3);
  border: none;
  color: var(--blue-l); 
} 

/* In progress */ 

.chart.fleft {
  float: left;
}

.chart > span {
  display: inline-block;
  width: 100%;
  margin-bottom: 12px;
}

.chart .circle {
  outline: 3px solid rgba(0, 123, 255, 0.3);
  border: none;
  color: var(--blue-l);
  font-weight: 500;
}

/* <<< Specific CSS Classes */

/* Disable hover effect on mobile devices */
@media (hover: hover) {
  a:hover {
    opacity: 0.7;
  } 

  input[type="submit"]:hover, button:hover {
    opacity: 0.7;
    cursor: pointer;
  } 

  .username:hover {
    color: var(--blue-s);
  } 

  .topnav a:hover {
    background-color: var(--gray-s);
    color: var(--blue-xxl);
    opacity: 1;
  }    

  .topnav .topnav-logo:hover, .topnav .topnav-toggle:hover {
    background-color: inherit;
    color: var(--gray-s);
    opacity: 0.7;
  }  

  .footer a:hover {
    opacity: 0.7;
  } 

  .previous .circle:hover, .next .circle:hover {
    outline: 3px solid rgba(0, 123, 255, 0.3);
    border: none;
    color: var(--blue-l);
  } 
}

/* 
@media screen and (min-width: 576px) {
}

@media screen and (min-width: 768px) {
}
*/
 
@media screen and (min-width: 992px) {
  /*
  p {
    font-size: 1.11rem;
  }
  */

  #main {
    width: 70%;
    padding-right: 20px;
  }

  #sidebar {
    width: 30%;
  }

  .container {
    max-width: 940px;
  } 

  #main .card, #sidebar .card {
    border: 1px solid var(--gray-m);
    border-radius: 5px;
  } 

  #main .card {
    padding: 0 30px;
  }

  .fright {
    float: right;
  }

  .fleft {
    float: left;
  }

  .topnav .topnav-toggle {
    display: none;
  }

  .topnav {
    overflow: hidden;
  }

  .topnav a {
    float: left;
    display: block;
    padding: 16px 14px;
  }

  .topnav a:hover {
    background-color: inherit;
    color: var(--gray-s);
    opacity: 0.7;
  }

  .topnav .topnav-logo {
    padding: 14px;
    padding-left: 0;
  }

  .topnav .signup {
    margin: 9px 0;
    border: 1px solid var(--gray-s);
    border-radius: 5px;
    padding-top: 6px;
    padding-bottom: 6px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1080px;
  } 
}
