{% extends "base.html" %}

{% block content %}
  <section class="card mb-20">
    <form action="" method="POST" class="mt-40" id="changePasswordForm">
      <fieldset>
        <legend>Change your password</legend>
        <!-- > CSRF token -->
        {{ change_password_form.hidden_tag() }}
        <!-- < CSRF token --> 
        <!-- > Current password -->
        {{ change_password_form.current_password.label }}
        {% if change_password_form.current_password.errors %} 
          <div class="forgot-password">
            {{ change_password_form.current_password(class="field-danger", placeholder=change_password_form.current_password.description) }} 
            <a href="javascript: void(0)">Forgot?</a>  
          </div>
          <ul>
            {% for error in change_password_form.current_password.errors %}
            <li class="small text-danger">{{ error }}</li>
            {% endfor %}
          </ul>
        {% else %}  
        <div class="forgot-password">
          {{ change_password_form.current_password(placeholder=change_password_form.current_password.description) }} 
          <a href="javascript: void(0)">Forgot?</a>  
        </div>
        {% endif %}
        <!-- < Current password -->
        <!-- > Password -->
        {{ change_password_form.password.label }}
        {% if change_password_form.password.errors %} 
          {{ change_password_form.password(class="field-danger", placeholder=change_password_form.password.description) }} 
          <ul>
            {% for error in change_password_form.password.errors %}
              <li class="small text-danger">{{ error }}</li>
            {% endfor %}
          </ul>
        {% else %}  
          {{ change_password_form.password(placeholder=change_password_form.password.description) }} 
        {% endif %} 
        <!-- < Password -->
        <!-- > Confirm Password -->
        {{ change_password_form.confirm_password.label }}
        {% if change_password_form.confirm_password.errors %} 
          {{ change_password_form.confirm_password(class="field-danger", placeholder=change_password_form.confirm_password.description) }} 
          <ul>
            {% for error in change_password_form.confirm_password.errors %}
              <li class="small text-danger">{{ error }}</li>
            {% endfor %}
          </ul>
        {% else %}  
          {{ change_password_form.confirm_password(placeholder=change_password_form.confirm_password.description) }} 
        {% endif %} 
        <!-- < Confirm Password -->       
        <!-- > Submit Button -->
        {{ change_password_form.submit_change_password_form(class="btn-info mt-26 mb-24") }}
        <!-- < Submit Button -->
      </fieldset>
    </form>   
    <!-- Change password modal -->
    <div class="modal" id="changePasswordModal">
      <div class="card modal-content">
        <form class="mt-40" method="POST" action="" id="changePasswordForm">
          <fieldset>
            <p class="l-height-6 mb-26 t-align-center">Please sign out first to be able to reset your password</p>
            <div class="div-2">
              <div class="fleft t-align-center width-50pc"> 
                <!-- CSRF Token > -->
                {{ logout_form.hidden_tag() }}
                <!-- < CSRF Token -->
                <!-- Submit > -->
                {{ logout_form.submit_logout_form(class="btn-info mb-16", form="changePasswordForm") }}
                <!-- < Submit -->
              </div>
              <div class="fleft t-align-center width-50pc">
                <button type="button" class="cancel btn-default mt-0 mb-24">Cancel</button>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
    <!-- < Change password modal -->   
  </section>
{% endblock content %} 

{% block js %}
  <script type="module" src="{{ url_for('static', filename='js/change_password.js') }}"></script>  
{% endblock js %}  
