{% extends "base.html" %}

{% block content %}
  <section class="card mb-20">
    <form action="" method="POST" class="mt-40">
      <fieldset>
        <legend>Choose a new password</legend>
        <!-- >>> CSRF token -->
        {{ form.hidden_tag() }}
        <!-- <<< CSRF token -->
        <!-- >>> Password -->
        {{ form.password.label }}
        {% if form.password.errors %} 
          {{ form.password(class="field-danger", placeholder=form.password.description) }} 
          <ul>
            {% for error in form.password.errors %}
              <li class="small text-danger">{{ error }}</li>
            {% endfor %}
          </ul>
        {% else %}  
          {{ form.password(placeholder=form.password.description) }} 
        {% endif %} 
        <!-- <<< Password -->
        <!-- >>> Confirm Password -->
        {{ form.confirm_password.label }}
        {% if form.confirm_password.errors %} 
          {{ form.confirm_password(class="field-danger", placeholder=form.confirm_password.description) }} 
          <ul>
            {% for error in form.confirm_password.errors %}
              <li class="small text-danger">{{ error }}</li>
            {% endfor %}
          </ul>
        {% else %}  
          {{ form.confirm_password(placeholder=form.confirm_password.description) }} 
        {% endif %} 
        <!-- <<< Confirm Password -->       
        <!-- >>> Submit Button -->
        {{ form.submit(class="btn-info mt-26 mb-24") }}
        <!-- <<< Submit Button -->
      </fieldset>
    </form> 
  </section>
{% endblock content %} 

{% block js %}
  <script type="module" src="{{ url_for('static', filename='js/choose_password.js') }}"></script>  
{% endblock js %}  
