{% extends "base.html" %}

{% block content %}
  <section class="card mb-20">
    <div class="avatar-username mt-40 mb-16 t-align-center">
      <img class="width-100 height-100" src="{{ url_for('static', filename='images/default.png') }}" alt="Employee Avatar">
    </div>
    <p class="mt-0 mb-0">{{ user.fullname }}</p>
    <hr class="hr mt-0">
    <p class="mt-0 mb-24 l-height-6 text-muted-dark">{{ user.about_me }}</p>
    <div class="div-3 chart mb-24 clearfix">    
      <div class="fleft width-third t-align-center">
        <span>Posts</span>
        <div class="circle">
          <span class="abs-center">{{ user.num_public_posts() }}</span>
        </div>
      </div>  
      <div class="fleft width-third t-align-center">
        <span>Followers</span>
        <div class="circle">
          <span class="abs-center">00</span> <!-- Pending -->
        </div>
      </div>  
      <div class="fleft width-third t-align-center">
        <span>Following</span>
        <div class="circle">
          <span class="abs-center">00</span>  <!-- Pending -->
        </div>                                        
      </div> 
    </div>
  </section>
  <section class="card mb-20">
    <h1 class="h1-2 text-muted-dark mb-0">{{ user.fullname }}</h1>   
    <div class="sort-toggle">
      <hr class="hr mt-0 mb-3"> 
      <span class="circle">
        <span class="abs-center">
          <i class="fa-solid fa-angles-down"></i>
        </span>
      </span> 
    </div>
    <div class="div-3 sort mt-30 clearfix">    
      <div class="fleft width-third t-align-center">
        <span>Trending</span>
        <div class="circle">
          <span class="abs-center">
            <i class="fa-solid fa-arrow-trend-up"></i>
          </span>
        </div>
      </div>  
      <div class="fleft width-third t-align-center">
        <span>Newest</span>
        <div class="circle">
          <span class="abs-center">
            <i class="fa-solid fa-arrow-up"></i>
          </span>
        </div>  
      </div>  
      <div class="fleft width-third t-align-center">
        <span>Oldest</span>
        <div class="circle">
          <span class="abs-center">
            <i class="fa-solid fa-arrow-down"></i>
          </span>
        </div>
      </div>
    </div> 
    <!-- >>> Public Posts -->
    {% for post in user.public_posts() %}
      <article class="post mt-30 mb-30">
        <header>
          <h2>
            <a href="{{ url_for('post', post_id=post.post_id) }}" class="title mt-8 mb-8">{{ post.title }}</a>
          </h2>
        </header> 
        <p class="mt-8 mb-8 l-height-6 text-muted-dark">{{ post.subheading }}</p>
        <footer class="small text-muted-light">
          <span class="date">{{ post.date_posted.strftime("%B %d, %Y") }}</span>
          <span class="middot">&middot;</span>
          <span class="reading-time">{{ post.reading_time }}</span><span> min read</span>
          <span class="middot">&middot;</span>
          <span class="level">{{ post.level }}</span>
        </footer> 
      </article> 
    {% endfor %}
    <!-- <<< Public Posts -->
    <div class="load-more t-align-center mb-20">
      <span class="circle">
        <span class="abs-center">
          <i class="fa-solid fa-angles-down fa-lg"></i>
        </span>
      </span>
    </div>   
{% endblock content %}  

{% block js %}
  <script type="module" src="{{ url_for('static', filename='js/posts_by_author.js') }}"></script>  
{% endblock js %} 
