{% extends "base.html" %}

{% block content %}
  <section class="card mb-20">
    {% if current_user.is_authenticated %}
      {% if current_user in user.followers %}  
        <form action="{{ url_for('unfollow', user_id=user.id) }}" method="POST" class="mt-40">
          <fieldset>
            <!-- >>> CSRF token -->
            {{ form.hidden_tag() }}
            <!-- <<< CSRF token -->
            <!-- >>> Submit Button -->
            {{ form.submit(class="unfollow small text-muted-dark", value="Unfollow") }}
            <!-- <<< Submit Button -->
          </fieldset>
        </form> 
      {% else %} 
        <form action="{{ url_for('follow', user_id=user.id) }}" method="POST" class="mt-40">
          <fieldset>
            <!-- >>> CSRF token -->
            {{ form.hidden_tag() }}
            <!-- <<< CSRF token -->
            <!-- >>> Submit Button -->
            {{ form.submit(class="follow small text-muted-dark", value="Follow") }}
            <!-- <<< Submit Button -->
          </fieldset>
        </form> 
      {% endif %}
    {% else %}
      <form action="{{ url_for('follow', user_id=user.id) }}" method="POST" class="mt-40">
        <fieldset>
          <!-- >>> CSRF token -->
          {{ form.hidden_tag() }}
          <!-- <<< CSRF token -->
          <!-- >>> Submit Button -->
          {{ form.submit(class="follow small text-muted-dark", value="Follow") }}
          <!-- <<< Submit Button -->
        </fieldset>
      </form>
    {% endif %}       
    <div class="avatar-username mt-40 mb-16 t-align-center">
      <img class="width-100 height-100" src="{{ url_for('static', filename='images/{}'.format(user.image)) }}" alt="Employee Avatar">
    </div>
    <p class="ellipsis mt-0 mb-0">{{ user.fullname }}</p>
    <hr class="hr mt-0">
    <p class="mt-0 mb-24 l-height-6 text-muted-dark">{{ user.about_me }}</p>
    <div class="div-3 chart mb-24 clearfix">    
      <div class="fleft width-third t-align-center">
        <span>Posts</span>
        <div class="circle">
          <span class="abs-center">{{ user.num_public_posts() }}</span>
        </div>
      </div>  
      <div class="fleft width-third t-align-center">
        <span>Followers</span>
        <div class="circle">
          <span class="abs-center">{{ user.followers|length }}</span>
        </div>  
      </div>  
      <div class="fleft width-third t-align-center">
        <span>Following</span>
        <div class="circle">
          <span class="abs-center">{{ user.following|length }}</span>
        </div>                                       
      </div> 
    </div>
  </section> 

  <!-- Posts > -->
  {% if user.num_public_posts() %} 
    <section class="card mb-20" id="myPosts">
      <h3 class="mt-30 mb-0">
        <i class="fa-solid fa-arrow-up"></i>
        <span class="ml-3">Newest Releases</span>
      </h3>   
      <div class="sort-toggle">
        <hr class="hr mt-0 mb-3"> 
        <span class="circle">
          <span class="abs-center">
            <i class="fa-solid fa-angles-down"></i>
          </span>
        </span> 
      </div>
      <div class="div-3 sort mt-30 clearfix">    
        <div class="fleft width-third t-align-center">
          <span>Trending</span>
          <div class="circle"> 
            <span class="abs-center">
              <i class="fa-solid fa-arrow-trend-up"></i>
            </span>
          </div>
        </div>  
        <div class="fleft width-third t-align-center">
          <span>Newest</span>
          <div class="circle"> 
            <span class="abs-center">
              <i class="fa-solid fa-arrow-up"></i>
            </span>
          </div>  
        </div>  
        <div class="fleft width-third t-align-center">
          <span>Oldest</span>
          <div class="circle"> 
            <span class="abs-center">
              <i class="fa-solid fa-arrow-down"></i>
            </span>
          </div>
        </div>
      </div> 
      {% for post in user.public_posts() %}
        <article class="post mt-30 mb-30">
          <header>
            <h2>
              <a href="{{ url_for('post', post_id=post.id) }}" class="title mt-8 mb-8">{{ post.title }}</a>
            </h2>
          </header> 
          <p class="mt-8 mb-8 l-height-6 text-muted-dark">{{ post.subheading }}</p>
          <footer class="small text-muted-light">
            <span class="time-stamp" hidden>{{ post.time_stamp() }}</span> <!-- JS-only class: time-stamp -->
            <span class="lag"></span> <!-- JS-only class: lag --> 
            <span class="middot">&middot;</span>
            <span class="reading-time">{{ post.reading_time }}</span><span> min read</span>
            <span class="middot">&middot;</span> 
            <span class="level">{{ post.level }}</span> 
            <span class="views" hidden>{{ post.views }}</span> 
          </footer> 
        </article> 
      {% endfor %} 
      <div class="load-more t-align-center mb-20">
        <span class="circle">
          <span class="abs-center">
            <i class="fa-solid fa-angles-down fa-lg"></i>
          </span>
        </span>
      </div>   
    </section>    
    {% endif %}
  <!-- < My Posts --> 

  <!-- Followers > -->
  {% if user.followers|length %}
    <section class="card mb-20" id="followers"> 
      <h3 class="mt-30 mb-0">
        <span>Followers</span>
      </h3>                 
      <hr class="hr mt-0 mb-30">
      {% for follower in user.followers %}
        <div class="avatar-username ellipsis mb-16">
          <a href="{{ url_for('posts_written_by', user_id=follower.id) }}">
            <img class="width-50 height-50" src="{{ url_for('static', filename='images/{}'.format(follower.image)) }}" alt="Employee Avatar" width="50px" height="50px">
            <span>{{ follower.fullname }}</span>
          </a> 
        </div>
      {% endfor %}
    </section>
  {% endif %}
  <!-- < Followers --> 

  <!-- Following -->
  {% if user.following|length %}
    <section class="card mb-20" id="following"> 
      <h3 class="mt-30 mb-0">
        <span>Following</span>
      </h3>                 
      <hr class="hr mt-0 mb-30">
      {% for following in user.following %}
        <div class="avatar-username ellipsis mb-16">
          <a href="{{ url_for('posts_written_by', user_id=following.id) }}">
            <img class="width-50 height-50" src="{{ url_for('static', filename='images/{}'.format(following.image)) }}" alt="Employee Avatar" width="50px" height="50px">
            <span>{{ following.fullname }}</span>
          </a> 
        </div>
      {% endfor %}
    </section>
  {% endif %}
  <!-- Following -->    
{% endblock content %}  

{% block js %}
  <script type="module" src="{{ url_for('static', filename='js/posts_by_author.js') }}"></script>  
{% endblock js %} 
