{% extends "base.html" %}

{% block content %}
  <section class="card mb-20"> 
    <form class="mt-26 t-align-center" id="imageForm" action="" method="POST" enctype="multipart/form-data">
      <!-- >>> CSRF token -->
      {{ image_form.hidden_tag() }}
      <!-- <<< CSRF token -->    
      <!-- >>> Image -->
      <label class="avatar-username" for="image">
        <img class="width-100 height-100" src={{ url_for('static', filename='images/{}'.format(current_user.image)) }} alt="Employee Avatar" width="100px" height="100px">
      </label> 
      {% if image_form.image.errors %} 
      {{ image_form.image(class="field-danger") }} 
      <ul>
        {% for error in image_form.image.errors %}
        <li class="small text-danger">{{ error }}</li>
        {% endfor %}
      </ul>
      {% else %}  
      {{ image_form.image() }} 
      {% endif %}
      <!-- <<< Image -->  
      <!-- >>> Submit Button -->
      {{ image_form.submit_image(form="imageForm", style="display: none;") }}
      <!-- <<< Submit Button -->  
    </form>
    <p class="mt-0 mb-0">{{ current_user.fullname }}</p>
    <hr class="hr mt-0">
    <p class="mt-0 mb-24 text-muted-dark l-height-6">{{ current_user.about_me }}</p>
    <div class="div-2 chart mb-30 clearfix">    
      <div class="fleft width-50pc t-align-center">
        <span>My Posts</span> 
        <div class="circle">
          <span class="abs-center">{{ current_user.num_public_posts() }}/{{ current_user.posts|length }}</span>
        </div>
      </div>   
      <div class="fleft width-50pc t-align-center">
        <span>My Bookmarks</span>
        <div class="circle">
          <span class="abs-center">{{ current_user.saved_posts|length }}</span>
        </div>
      </div>  
    </div> 
    <div class="div-2 chart mb-24 clearfix"> 
      <div class="fleft width-50pc t-align-center">
        <span>Followers</span>
        <div class="circle">
          <span class="abs-center">{{ current_user.followers|length }}</span>
        </div>
      </div>  
      <div class="fleft width-50pc t-align-center">
        <span>Following</span>
        <div class="circle">
          <span class="abs-center">{{ current_user.following|length }}</span>
        </div>                                        
      </div> 
    </div>    
    <button type="button" class="btn-info mt-24 mb-24" id="editProfileButton">Edit Profile</button>
  </section> 
  <!-- Edit Profile >> -->
  <section class="card mb-20" id="profileFormCard">
    <form class="mt-40" id="profileForm" action="" method="POST">
      <fieldset form="profileForm">
        <legend>Profile</legend>    
        <div class="sort-toggle mb-6">
          <hr class="hr mt-0 mb-3"> 
          <span class="circle">
            <span class="abs-center">
              <i class="fa-solid fa-angles-down"></i>
            </span>
          </span> 
        </div>
        <div class="div-3 account mt-26 clearfix">
          <div class="fleft width-third t-align-center">
            <span>Password</span>
            <a href="{{ url_for('change_password') }}" class="circle">
              <span class="abs-center">Change</span>
            </a>
          </div>  
          <div class="fleft width-third t-align-center">
            <span>Country</span>
            <div class="circle"> 
              <span class="abs-center">XX</span>
            </div>
          </div>  
          <div class="fleft width-third t-align-center">
            <span>Account</span>
            <div class="circle delete"> 
              <span class="abs-center">Delete</span>
            </div>
          </div>
        </div>
        <!-- >>> CSRF token -->
        {{ profile_form.hidden_tag() }}
        <!-- <<< CSRF token -->  
        <!-- >>> First Name -->
        {{ profile_form.first_name.label }}
        {% if profile_form.first_name.errors %} 
          {{ profile_form.first_name(class="field-danger", placeholder=profile_form.first_name.description) }} 
          <ul>
            {% for error in profile_form.first_name.errors %}
              <li class="small text-danger">{{ error }}</li>
            {% endfor %}
          </ul>
        {% else %}  
          {{ profile_form.first_name(placeholder=profile_form.first_name.description) }} 
        {% endif %}
        <!-- <<< First Name -->
        <!-- >>> Last Name -->
        {{ profile_form.last_name.label }}
        {% if profile_form.last_name.errors %} 
          {{ profile_form.last_name(class="field-danger", placeholder=profile_form.last_name.description) }} 
          <ul>
            {% for error in profile_form.last_name.errors %}
              <li class="small text-danger">{{ error }}</li>
            {% endfor %}
          </ul>
        {% else %}  
          {{ profile_form.last_name(placeholder=profile_form.last_name.description) }} 
        {% endif %}
        <!-- <<< Last Name --->    
        <!-- >>> Email -->
        {{ profile_form.email.label }}
        {% if profile_form.email.errors %} 
          {{ profile_form.email(class="field-danger", placeholder=profile_form.email.description) }} 
          <ul>
            {% for error in profile_form.email.errors %}
              <li class="small text-danger">{{ error }}</li>
            {% endfor %}
          </ul>
        {% else %}  
          {{ profile_form.email(placeholder=profile_form.email.description) }} 
        {% endif %}
        <!-- <<< Email -->
        <!-- >>> About Me -->
        {{ profile_form.about_me.label }}
        {% if profile_form.about_me.errors %} 
          {{ profile_form.about_me(class="field-danger", placeholder=profile_form.about_me.description, rows="3") }} 
          <ul>
            {% for error in profile_form.about_me.errors %}
              <li class="small text-danger">{{ error }}</li>
            {% endfor %}
          </ul>
        {% else %}  
          {{ profile_form.about_me(placeholder=profile_form.about_me.description, rows="3") }} 
        {% endif %}
        <!-- <<< About Me --> 
        <!-- >>> Submit Button -->
        {{ profile_form.submit_profile(class="btn-info mt-26", form="profileForm") }}
        <!-- <<< Submit Button -->         
        <button type="button" class="btn-default mt-8 mb-24" id="cancelProfileButton">Cancel</button>
      </fieldset>
    </form>   
    <!-- Delete Account Modal -->
    <div class="modal" id="deleteAccountModal">
      <div class="card modal-content">
        <form class="mt-40" method="Post" action="">
          <fieldset>
            <legend>Delete Account</legend>
            <hr class="hr mt-0 mb-30">
            <p>Are you sure you want to delete your account?</p>
            <div class="div-2">
              <div class="fleft t-align-center width-50pc">
                <input type="submit" value="Delete" class="btn-danger mb-16">
              </div>
              <div class="fleft t-align-center width-50pc">
                <button type="button" class="btn-default mt-0 mb-24">Cancel</button>  
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>  
  </section>      
  <!-- << Edit Profile -->  

  <!-- My Posts > -->
  <div id="myPosts">
    <!-- Hidden Posts > --> 
    {% if current_user.num_hidden_posts() %}
      <section class="card mb-20" id="myHiddenPosts">
        <h3 class="mt-30 mb-0">
          <i class="fa-solid fa-arrow-up"></i>
          <span class="ml-3">My hidden posts</span>
        </h3>   
        <div class="sort-toggle">
          <hr class="hr mt-0 mb-3"> 
          <span class="circle">
            <span class="abs-center">
              <i class="fa-solid fa-angles-down"></i>
            </span>
          </span> 
        </div>
        <div class="div-3 sort mt-30 clearfix">
          <div class="fleft width-50pc t-align-center">
            <span>Newest</span>
            <div class="circle"> 
              <span class="abs-center">
                <i class="fa-solid fa-arrow-up"></i>
              </span>
            </div>  
          </div>  
          <div class="fleft width-50pc t-align-center">
            <span>Oldest</span>
            <div class="circle"> 
              <span class="abs-center">
                <i class="fa-solid fa-arrow-down"></i>
              </span>
            </div>
          </div>
        </div> 
        {% for post in current_user.hidden_posts() %}
          <article class="post mt-30 mb-30">
            <header>
              <h2>
                <a href="{{ url_for('post', post_id=post.id) }}" class="title mt-8 mb-8">{{ post.title }}</a>
              </h2>
            </header> 
            <p class="mt-8 mb-8 l-height-6 text-muted-dark">{{ post.subheading }}</p>
            <footer class="small text-muted-light">
              <span class="date">{{ post.date_posted.strftime("%b %d, %Y") }}</span>
              <span class="middot">&middot;</span>
              <span class="reading-time">{{ post.reading_time }}</span><span> min read</span>
              <span class="middot">&middot;</span>
              {% if post.public %}
                <span class="fa-regular fa-eye"></span>
              {% else %}  
                <span class="fa-regular fa-eye-slash"></span> 
              {% endif %}   
              <span class="middot">&middot;</span>  
              <span class="level">{{ post.level }}</span>
            </footer> 
          </article> 
        {% endfor %} 
        <div class="load-more t-align-center mb-20">
          <span class="circle">
            <span class="abs-center">
              <i class="fa-solid fa-angles-down fa-lg"></i>
            </span>
          </span>
        </div>   
      </section>    
    {% endif %}
    <!-- << Hidden Posts -->             

    <!-- Released Posts > --> 
    {% if current_user.num_public_posts() %}
      <section class="card mb-20" id="myReleasedPosts">
        <h3 class="mt-30 mb-0">
          <i class="fa-solid fa-arrow-up"></i>
          <span class="ml-3">My released posts</span>
        </h3>   
        <div class="sort-toggle">
          <hr class="hr mt-0 mb-3"> 
          <span class="circle">
            <span class="abs-center">
              <i class="fa-solid fa-angles-down"></i>
            </span>
          </span> 
        </div>
        <div class="div-3 sort mt-30 clearfix">    
          <div class="fleft width-third t-align-center">
            <span>Trending</span>
            <div class="circle"> 
              <span class="abs-center">
                <i class="fa-solid fa-arrow-trend-up"></i>
              </span>
            </div>
          </div>  
          <div class="fleft width-third t-align-center">
            <span>Newest</span>
            <div class="circle"> 
              <span class="abs-center">
                <i class="fa-solid fa-arrow-up"></i>
              </span>
            </div>  
          </div>  
          <div class="fleft width-third t-align-center">
            <span>Oldest</span>
            <div class="circle"> 
              <span class="abs-center">
                <i class="fa-solid fa-arrow-down"></i>
              </span>
            </div>
          </div>
        </div> 
        {% for post in current_user.public_posts() %}
          <article class="post mt-30 mb-30">
            <header>
              <h2>
                <a href="{{ url_for('post', post_id=post.id) }}" class="title mt-8 mb-8">{{ post.title }}</a>
              </h2>
            </header> 
            <p class="mt-8 mb-8 l-height-6 text-muted-dark">{{ post.subheading }}</p>
            <footer class="small text-muted-light">
              <span class="date">{{ post.date_posted.strftime("%b %d, %Y") }}</span>
              <span class="middot">&middot;</span>
              <span class="reading-time">{{ post.reading_time }}</span><span> min read</span>
              <span class="middot">&middot;</span>
              {% if post.public %}
                <span class="fa-regular fa-eye"></span>
              {% else %}  
                <span class="fa-regular fa-eye-slash"></span> 
              {% endif %}   
              <span class="middot">&middot;</span>  
              <span class="level">{{ post.level }}</span>
            </footer> 
          </article> 
        {% endfor %} 
        <div class="load-more t-align-center mb-20">
          <span class="circle">
            <span class="abs-center">
              <i class="fa-solid fa-angles-down fa-lg"></i>
            </span>
          </span>
        </div>   
      </section>    
    {% endif %}
    <!-- < Released Posts -->   
  </div>
  <!-- < My Posts -->

  <!-- My Bookmarks > -->
  {% if current_user.saved_posts|length %} 
    <section class="card mb-20" id="myBookmarks">
      <h3 class="mt-30 mb-0" id="switchNewestOldest">
        <i class="fa-solid fa-arrow-up"></i>
        <span class="ml-3">My Bookmarks</span>
      </h3>   
      <div class="sort-toggle">
        <hr class="hr mt-0 mb-3"> 
        <span class="circle">
          <span class="abs-center">
            <i class="fa-solid fa-angles-down"></i>
          </span>
        </span> 
      </div>
      <div class="div-3 sort mt-30 clearfix">    
        <div class="fleft width-third t-align-center">
          <span>Trending</span>
          <div class="circle"> 
            <span class="abs-center">
              <i class="fa-solid fa-arrow-trend-up"></i>
            </span>
          </div>
        </div>  
        <div class="fleft width-third t-align-center">
          <span>Newest</span>
          <div class="circle"> 
            <span class="abs-center">
              <i class="fa-solid fa-arrow-up"></i>
            </span>
          </div>  
        </div>  
        <div class="fleft width-third t-align-center">
          <span>Oldest</span>
          <div class="circle"> 
            <span class="abs-center">
              <i class="fa-solid fa-arrow-down"></i>
            </span>
          </div>
        </div>
      </div>
      {% for post in current_user.saved_posts %}
        <article class="post mt-30 mb-30">
          <header>
            <h2>
              <a href="{{ url_for('post', post_id=post.id) }}" class="title mt-8 mb-8">{{ post.title }}</a>
            </h2>
          </header> 
          <p class="mt-8 mb-8 l-height-6 text-muted-dark">{{ post.subheading }}</p>
          <footer class="small text-muted-light">
            <span class="date">{{ post.date_posted.strftime("%b %d, %Y") }}</span>
            <span class="middot">&middot;</span>
            <span class="reading-time">{{ post.reading_time }}</span><span> min read</span>
            <span class="middot">&middot;</span>
            <span class="level">{{ post.level }}</span>
          </footer> 
        </article> 
      {% endfor %}
      <div class="load-more t-align-center mb-20">
        <span class="circle">
          <span class="abs-center">
            <i class="fa-solid fa-angles-down fa-lg"></i>
          </span>
        </span>
      </div>   
    </section>
  {% endif %}    
  <!-- < My Bookmarks -->  

  <!-- Followers > --> 
  {% if current_user.followers|length %}
    <section class="card mb-20" id="followers"> 
      <h3 class="mt-30 mb-0">
        <span>Followers</span>
      </h3>                 
      <hr class="hr mt-0 mb-30">
      {% for follower in current_user.followers %}
        <div class="avatar-username mb-16">
          <a href="{{ url_for('posts_written_by', user_id=follower.id) }}">
            <img class="width-50 height-50" src="{{ url_for('static', filename='images/default.png') }}" alt="Employee Avatar" width="50px" height="50px">
            <span>{{ follower.fullname }}</span>
          </a> 
        </div>
      {% endfor %}
    </section>
  {% endif %}
  <!-- < Followers --> 

  <!-- Following > -->
  {% if current_user.following|length %}
    <section class="card mb-20" id="following"> 
      <h3 class="mt-30 mb-0">
        <span>Following</span>
      </h3>                 
      <hr class="hr mt-0 mb-30">
      {% for following in current_user.following %}
        <div class="avatar-username mb-16">
          <a href="{{ url_for('posts_written_by', user_id=following.id) }}">
            <img class="width-50 height-50" src="{{ url_for('static', filename='images/default.png') }}" alt="Employee Avatar" width="50px" height="50px">
            <span>{{ following.fullname }}</span>
          </a> 
        </div>
      {% endfor %}
    </section>
  {% endif %}
  <!-- < Following -->
{% endblock content %}

{% block js %}
  <script type="module" src="{{ url_for('static', filename='js/profile.js') }}"></script>
{% endblock js %}
