{% extends "base.html" %}

{% block content %}
  <section class="card mb-20">
    <form action="" method="POST" class="mt-40" id="signUpForm">
      <fieldset>
        <legend>Become a Python Expert</legend>
        <!-- >>> CSRF token -->
        {{ form.hidden_tag() }}
        <!-- <<< CSRF token -->
        <!-- >>> First Name -->
        {{ form.first_name.label }}
        {% if form.first_name.errors %} 
          {{ form.first_name(class="field-danger", placeholder=form.first_name.description) }} 
          <ul>
            {% for error in form.first_name.errors %}
              <li class="small text-danger">{{ error }}</li>
            {% endfor %}
          </ul>
        {% else %}  
          {{ form.first_name(placeholder=form.first_name.description) }} 
        {% endif %}
        <!-- <<< First Name -->
        <!-- >>> Last Name -->
        {{ form.last_name.label }}
        {% if form.last_name.errors %} 
          {{ form.last_name(class="field-danger", placeholder=form.last_name.description) }} 
          <ul>
            {% for error in form.last_name.errors %}
              <li class="small text-danger">{{ error }}</li>
            {% endfor %}
          </ul>
        {% else %}  
          {{ form.last_name(placeholder=form.last_name.description) }} 
        {% endif %}
        <!-- <<< Last Name --->  
        <!-- >>> Email -->
        {{ form.email.label }}
        {% if form.email.errors %} 
          {{ form.email(class="field-danger", placeholder=form.email.description) }} 
          <ul>
            {% for error in form.email.errors %}
              <li class="small text-danger">{{ error }}</li>
            {% endfor %}
          </ul>
        {% else %}  
          {{ form.email(placeholder=form.email.description) }} 
        {% endif %}
        <!-- <<< Email -->
        <!-- >>> Password -->
        {{ form.password.label }}
        {% if form.password.errors %} 
          {{ form.password(class="field-danger", placeholder=form.password.description) }} 
          <ul>
            {% for error in form.password.errors %}
              <li class="small text-danger">{{ error }}</li>
            {% endfor %}
          </ul>
        {% else %}  
          {{ form.password(placeholder=form.password.description) }} 
        {% endif %} 
        <!-- <<< Password -->
        <!-- >>> Confirm Password -->
        {{ form.confirm_password.label }}
        {% if form.confirm_password.errors %} 
          {{ form.confirm_password(class="field-danger", placeholder=form.confirm_password.description) }} 
          <ul>
            {% for error in form.confirm_password.errors %}
              <li class="small text-danger">{{ error }}</li>
            {% endfor %}
          </ul>
        {% else %}  
          {{ form.confirm_password(placeholder=form.confirm_password.description) }} 
        {% endif %} 
        <!-- <<< Confirm Password -->
        <!-- >>> About Me -->
        {{ form.about_me.label }}
        {% if form.about_me.errors %} 
          {{ form.about_me(class="field-danger", placeholder=form.about_me.description, rows="3") }} 
          <ul>
            {% for error in form.about_me.errors %}
              <li class="small text-danger">{{ error }}</li>
            {% endfor %}
          </ul>
        {% else %}  
          {{ form.about_me(placeholder=form.about_me.description, rows="3") }} 
        {% endif %}
        <!-- <<< About Me --> 
        <p class="small mt-20 mb-6">By creating an account you agree to our <a href="#" class="nowrap">Terms & Conditions</a>.</p>
        <!-- >>> Submit Button -->
        {{ form.submit(class="btn-info") }}
        <!-- <<< Submit Button -->
      </fieldset>
    </form> 
    <p class="mt-20 mb-24">Already have an account? <a href="{{ url_for("login") }}" class="ml-3">Sign in</a></p>  
  </section>
{% endblock content %}

{% block js %}
  <script type="module" src="{{ url_for('static', filename='js/register.js') }}"></script>  
{% endblock js %}
