:root {
  /* Colors by name */
  --white: #fff;
  --black: #292929;
  --gray-xs: #f6f6f6;
  --gray-s: #f1f1f1;  
  --gray-m: #ddd;
  --gray-l: #999;
  --gray-xl: #666;
  /* --green-s: #d4edda;  */
  --blue-s: #619ccd; 
  /* --blue-m: #1a73e8; */
  --blue-l: #007bff;
  --blue-xxl: #18354c;
  --red-m: #f66;
}

* {
  box-sizing: border-box;
}

body {
  /* Position the footer element at the bottom */
  position: relative;
  min-height: 100vh;
  padding-bottom: 53px; /* padding-bottom(body) = height(footer) */

  margin: 0;
  background-color: var(--gray-xs);
  color: var(--black);
  font-size: 18px;
  font-family: -apple-sytem, BlinkMacSystemFont, Ubuntu, Verdana, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--blue-xxl);
  font-weight: 500;
}

h1 {
  margin: 40px 0 30px 0;
  font-size: 4rem;
}

h2, h3 {
  margin: 0;
}

a {
  color: var(--blue-s);
  text-decoration: none;
  transition: opacity 0.4s;
} 

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ul li {
  margin-top: 6px;
}

input, textarea, button {
  width: 100%;
  border-radius: 5px;
  padding: 15px 8px;
  font-size: inherit;
  font-family: inherit;
} 

input, textarea {
  border: 1px solid var(--gray-m);
  color: var(--gray-xl);
}

input:not([type="submit"]):focus, textarea:focus {
  outline: 3px solid rgba(0, 123, 255, 0.3);
  border: 1px solid rgba(0, 123, 255, 0.5);
}

input[type="submit"], button {
  border: none;
  font-weight: 500;
  opacity: 1;
  transition: opacity 0.4s;
}

input[type="submit"]:active, button:active {
  opacity: 0.7;
}

input[type="file"] {
  display: none;
}

textarea {
  resize: vertical;
  line-height: 1.6;
}

form fieldset {
  margin: 0;
  border: none;
  padding: 0;
}

form label {
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 9px;
}

form legend {
  padding: 0;
  /* color: var(--gray-xl); */
  font-size: 1.5rem;
  font-weight: 500;
}

#header {
  background-color: var(--blue-xxl);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgb(0, 0, 0, 0.19);
} 

#main {
  width: 100%;
}   

#sidebar {
  width: 100%;
}

#profileFormCard, #myPosts, #myBookmarks, #followers, #following {
  display: none;
}

/* General CSS Classes >>> */

/* Clear floating elements */
.clearfix::after {
  display: table;
  content: "";
  clear: both;
}

/* Prevent text from wrapping */
.nowrap {
  white-space: nowrap;
}

.h1-2 {
  font-size: 2rem;
}

.post-title {
  font-size: 2rem;
}

.post-content {
  line-height: 1.6;
  white-space: pre-line;
}

.container {
  width: 100%;
  margin: 0 auto;
} 

.gap {
  height: 40px;
  margin: 30px;
}

.card {
  position: relative;
  border-top: 1px solid var(--gray-m);
  border-bottom: 1px solid var(--gray-m);
  padding: 0 15px;
  background-color: var(--white); 
}

.hr {
  border: 1px solid var(--gray-xs);
} 

/* Predefined Width */
.width-half {
  width: 50%;
} 
.width-50pc {
  width: 50%;
} 
.width-40pc {
  width: 40%;
}
.width-third {
  width: calc(100% / 3);
}
.width-20pc {
  width: 20%;
}
.width-100 {
  width: 100px;
}    
.width-85 {
  width: 85px;
}   
.width-60 {
  width: 60px;
}  
.width-50 {
  width: 50px;
} 
.width-40 {
  width: 40px;
} 
.width-20 {
  width: 20px;
}

/* Predefined Height */
.height-100 {
  height: 100px;
}    
.height-85 {
  height: 85px;
}   
.height-60 {
  height: 60px;
}  
.height-50 {
  height: 50px;
} 
.height-40 {
  height: 40px;
} 
.height-20 {
  height: 20px;
}

/* Predefined Margin */
.mt-48 {
  margin-top: 48px;
}
.mb-48 {
  margin-bottom: 48px;
}  
.mt-30 {
  margin-top: 30px;
}
.mb-30 {
  margin-bottom: 30px;
} 
.mt-40 {
  margin-top: 40px;
}
.mb-40 {
  margin-bottom: 40px;
}  
.mt-26 {
  margin-top: 26px;
}
.mb-26 {
  margin-bottom: 26px;
} 
.mt-24 {
  margin-top: 24px;
}
.mb-24 {
  margin-bottom: 24px;
}
.mt-20 {
  margin-top: 20px;
}
.mb-20 {
  margin-bottom: 20px;
}  
.mt-16 {
  margin-top: 16px;
}
.mb-16 {
  margin-bottom: 16px;
} 
.mt-14 {
  margin-top: 14px;
}
.mb-14 {
  margin-bottom: 14px;
}  
.mt-8 {
  margin-top: 8px;
}
.mb-8 {
  margin-bottom: 8px;
} 
.mt-6 {
  margin-top: 6px;
}
.mb-6 {
  margin-bottom: 6px;
}  
.mr-3 {
  margin-right: 3px;
} 
.ml-3 {
  margin-left: 3px;
}
.mt-0 {
  margin-top: 0;
} 
.mb-0 {
  margin-bottom: 0;
}

/* Predefined Text Alignment */
.t-align-left {
  text-align: left;
}
.t-align-center {
  text-align: center; 
}
.t-align-right {
  text-align: right;
}

/* Predefined Line Height */
.l-height-6 {
  line-height: 1.6;
}

/* Predefined Font Weight */
.f-weight-500 {
  font-weight: 500;
}
 
/* Predefined Text Mute Color */
.text-muted-light {
  color: var(--gray-l);
} 
.text-muted-dark {
  color: var(--gray-xl);
}  

/* Predefined Alert */
.alert {
  margin: 0;
  margin-bottom: 20px;
  border-radius: 5px;
  padding: 15px 8px;
  text-align: center;
  font-weight: 500; 
}  
.alert-success {
  border-color: #c3e6cb;
  background-color: #d4edda;
  color: #155724;
} 
.alert-info {
  border-color: #b8daff;
  background-color: #cce5ff;
  color: #004085;
} 
.alert-danger {
  border-color: #f5c6cb; 
  background-color: #f8d7da;
  color: #721c24;
}

/* Predefined Field Color */ 
.field-danger {
  border: 1px solid rgba(255, 102, 102, 0.5); 
}

/* Predefined Button Color */
.btn-info {
  background-color: var(--blue-l);
  color: var(--gray-s);
}
.btn-default {
  background-color: var(--gray-s);
  color: var(--black);
}
.btn-danger {
  background-color: var(--red-m);
  color: var(--gray-s);
}

/* Predefined Text Color */
.text-danger {
  color: var(--red-m);
}

.fright {
  float: none;
}

.fleft {
  float: none;
}

.small {
  font-size: 0.8rem;
} 


.middot {
  padding: 0 4px;
}

.avatar-username {
  display: block;
  line-height: 0;
}

.avatar-username img, .avatar-username span {
  vertical-align: middle;
}

.avatar-username img {
  display: inline-block;
  position: relative;
  border: 1px solid var(--gray-m);
  border-radius: 50%;
}  

.avatar-username span {
  margin-left: 5px;
  color: var(--gray-xl);
  font-weight: 500;
}

.circle {
  display: inline-block;
  position: relative;
  width: 60px;
  height: 60px;
  border: 1px solid var(--gray-m);
  border-radius: 50%;
  color: var(--gray-xl);
  font-weight: 500;
  transition: none;
}

.circle:active { 
  outline: 3px solid rgba(0, 123, 255, 0.3);
  border: none;
  color: var(--blue-l);
} 

.abs-center {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%); 
}

.waterdrop {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 20px;
  height: 20px;
  border: 1px solid var(--gray-m);
  border-radius: 50%;
  background-color: var(--gray-xs);
}     

input[type="submit"].bookmark, input[type="submit"].unbookmark, input[type="submit"].follow, input[type="submit"].unfollow {
  padding-top: 8px;
  padding-bottom: 8px; 
  border: 1px solid var(--gray-m);
  background: var(--white);
}    

input[type="submit"].follow, input[type="submit"].unfollow {
  position: absolute;
  top: 15px;
  right: 15px;
} 

input[type="submit"].follow, input[type="submit"].bookmark {
  width: 60px;
} 

input[type="submit"].unfollow, input[type="submit"].unbookmark {
  width: 80px;
}

.bookmark.fright, .unbookmark.fright {
  float: right;
}

/* In progress */

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal .modal-content {
  position: relative;
  top: 15vh;
  width: 95%;
  max-width: 550px;
  margin: auto;
  border: 1px solid var(--gray-m);
  border-radius: 5px;
  animation-name: modal;
  animation-duration: 0.4s;
}

@keyframes modal {
  0% {
    top: -10vh;
    opacity: 0;
  }
  100% {
    top: 15vh;
    opacity: 1;
  }
}

/* <<< General CSS Classes */

/* Specific CSS Classes >>> */

.topnav {
  background-color: inherit;
} 

.topnav div {
  position: relative;
} 

.topnav a {
  display: none;
  padding: 15px;
  background-color: inherit;
  color: var(--gray-s);
  font-size: 1rem;
  font-weight: 500;
  opacity: 1;
  transition: background-color 0.4s, color 0.4s, opacity 0.4s;
}

.topnav .topnav-logo, .topnav .topnav-toggle {
  display: inline-block;
  font-size: 1.2rem;
  font-weight: bold;
}

.topnav .topnav-toggle {
  position: absolute;
  top: 50%;
  right: 15px;
  z-index: 1;
  transform: translateY(-50%);
  border: 2px solid var(--gray-s);
  border-radius: 4px;
  padding: 4px 7px;
}

/* Toggle the top navigation bar */
.toggle a {
  display: block;
}

.footer {
  /* Position the footer element at the bottom */
  position: absolute;
  bottom: 0;
  width: 100%;

  padding: 16px 8px;
  background-color: var(--blue-xxl); 
  box-shadow: 4px 0 8px 0 rgba(0, 0, 0, 0.2), 6px 0 20px 0 rgb(0, 0, 0, 0.19);
}

.footer nav {
  text-align: center;  
}

.footer a {
  padding-right: 8px;
  color: var(--gray-s);
  font-weight: 500;
  opacity: 1;
}

.footer a:last-child {
  padding-right: 0;
}

.post {
  display: none;
}

.post .title {
  display: block;
  font-size: 1.5rem;
}

.post .level {
  display: inline-block;
  border-radius: 2px;
  padding: 4px;
  background-color: var(--gray-s);
  font-weight: 500;
} 

.density {
  visibility: visible;
}

.density .num-writers.fleft, .density .num-posts.fleft {
  float: left;    
} 

.density .num-writers {
  animation-name: numWriters;
}

.density .num-posts {
  animation-name: numPosts;
  animation-delay: 10s; /* animation-delay = animation-duration / 2 */
  opacity: 0;
}

.density .num-writers, .density .num-posts {
  animation-duration: 20s;
  animation-iteration-count: infinite;
}

/* Animation: numWriters & numPosts */
@keyframes numWriters {
  0% {
    transform: translateX(0%);
    opacity: 0;
  }

  50% {
    transform: translateX(100%);
    opacity: 1;
  }

  100% {
    transform: translateX(200%);
    opacity: 0;
  }
}
@keyframes numPosts {  
  0% {
    transform: translateX(-100%);
    opacity: 0;
  } 

  50% {
    transform: translateX(0%);
    opacity: 1;
  } 
  
  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}

.density .num-writers h2, .density .num-posts h2 {
  color: var(--blue-xxl);
  font-weight: 700;
}

.density h2, .density p {
  margin: 8px 0;
}

.trending {
  color: var(--blue-xxl);
}

.forgot-password {
  position: relative;
}

.forgot-password a {
  position: absolute;
  top: 50%;
  right: 10px;
  z-index: 1;
  transform: translateY(-50%);
}

.date-level-author .fleft {
  float: left;
}

.date-level-author span, .date-level-author a {
  display: inline-block;
}

.more-posts .see-all {
  position: absolute;
  bottom: 14px;
  right: 16px;
  font-size: 16px;
}

.more-posts .hr:last-of-type {
  display: none;
} 

.more-posts h2 {
  font-size: 1rem;
} 

.more-posts h2:last-of-type {
  margin-bottom: 45px;
} 

.div-3 .fleft , .div-2 .fleft {
  float: left;
}

.div-3 div > span, .div-2 div > span {
  display: inline-block;
  width: 100%;
  margin-bottom: 12px;
}

/*
.div-2 div > span {
  display: inline-block;
  width: 100%;
  margin-bottom: 12px;
} 
*/
/*
.div-3.chart .circle {
  outline: 3px solid rgba(0, 123, 255, 0.3);
  border: none;
  color: var(--blue-l);
}
*/
 
.avatar .circle {
  width: 100px;
  height: 100px;
}

.account .circle, .edit-hide-delete .circle {
  width: 85px;
  height: 85px;
}  

.edit-hide-delete .circle a {
  color: inherit;
}

.account div:last-child .circle:active {  
  outline: 3px solid rgba(255, 51, 51, 0.3);
  border: none;
  color: var(--red-m);
  cursor: pointer; 
}  

.previous.fleft, .next.fleft {
  float: left;
} 

.previous.fright, .next.fright {
  float: right;
}

.sort-toggle {
  position: relative;
}

.sort-toggle .hr {
  width: calc(100% - 50px); /* 50 = width(.sort-toggle .circle) + 10 */
  margin: unset;
}

.sort-toggle .circle {
  position: absolute;
  top: 0;
  right: 0;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  padding: 5px 0;
}

.sort-toggle ~ .sort, .sort-toggle ~ .account, .sort-toggle ~ .edit-hide-delete {
  display: none;
}  

.load-more .circle {
  display: none;
} 

/*
.previous .circle:active, .next .circle:active, .load-more .circle:active, .sort-toggle .circle:active {
  outline: 3px solid rgba(0, 123, 255, 0.3);
  border: none;
  color: var(--blue-l); 
}
*/

#createPostForm .level-status {
  display: block; 
  margin-bottom: 20px; 
  line-height: 0;
  user-select: none;
  cursor: pointer;
}  

#createPostForm input[type="radio"] {
  display: none;
} 

#createPostForm .checkmark {
  display: inline-block;
  position: relative;
  width: 25px;
  height: 25px;
  margin-right: 5px;
  border: 1px solid var(--gray-m);
  border-radius: 5px;
  vertical-align: middle;
} 

#createPostForm .checkmark:after {
  content: "";
  display: none;
  position: absolute;
}  

#createPostForm input[type="radio"]:checked ~ .checkmark {
  border: 3px solid rgba(0, 123, 255, 0.3);
}  

#createPostForm input[type="radio"]:checked ~ .checkmark:after {
  display: inline-block;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  width: 20%;
  height: 50%;
  border: 3px solid rgba(0, 123, 255, 0.5);
  border-top-width: 0;
  border-left-width: 0;
}

#createPostForm .checkmark ~ span {
  vertical-align: middle;
}

/* <<< Specific CSS Classes */

/* Disable hover effect on mobile devices */
@media (hover: hover) {
  a:hover {
    opacity: 0.7;
  } 

  input[type="submit"]:hover, button:hover {
    opacity: 0.7;
    cursor: pointer;
  } 

  .avatar-username a:hover {
    opacity: 1;
  }

  .avatar-username a:hover img, .avatar-username a:hover span {
    color: var(--blue-l);
  }   

  .avatar-username a:hover img { 
    outline: 3px solid rgba(0, 123, 255, 0.3);
    border: none;
  } 

  /*
  .topnav a:hover {
    background-color: var(--gray-s);
    color: var(--blue-xxl);
    opacity: 1;
  }

  .topnav .topnav-logo:hover, .topnav .topnav-toggle:hover {
    background-color: inherit;
    color: var(--gray-s);
    opacity: 0.7;
  }
  */  

  .footer a:hover {
    opacity: 0.7;
  }

  .circle:hover, .account .avatar-username img:hover, #imageForm .avatar-username img:hover { 
    outline: 3px solid rgba(0, 123, 255, 0.3);
    border: none;
    color: var(--blue-l);
    cursor: pointer;
  } 

  .circle.delete:hover {  
    outline: 3px solid rgba(255, 51, 51, 0.3);
    border: none;
    color: var(--red-m);
    cursor: pointer; 
  }

  /*
  .previous .circle:hover, .next .circle:hover, .load-more .circle:hover, .sort-toggle .circle:hover, .sort .circle:hover, .account .circle:hover {
    outline: 3px solid rgba(0, 123, 255, 0.3);
    border: none;
    color: var(--blue-l);
    cursor: pointer;
  }
 */ 
}

/* 
@media screen and (min-width: 576px) {
}

@media screen and (min-width: 768px) {
}
*/
 
@media screen and (min-width: 992px) {
  /*
  p {
    font-size: 1.11rem;
  }
  */

  #main {
    width: 70%;
    padding-right: 20px;
  }

  #sidebar {
    width: 30%;
  }

  .container {
    max-width: 940px;
  } 

  #main .card, #sidebar .card {
    border: 1px solid var(--gray-m);
    border-radius: 5px;
  } 

  #main .card {
    padding: 0 30px;
  }

  .fright {
    float: right;
  }

  .fleft {
    float: left;
  }

  .topnav .topnav-toggle {
    display: none;
  }

  .topnav {
    overflow: hidden;
  }

  .topnav a {
    float: left;
    display: block;
    padding: 16px 14px;
  }

  .topnav a:hover {
    background-color: inherit;
    color: var(--gray-s);
    opacity: 0.7;
  }

  .topnav .topnav-logo {
    padding: 14px;
    padding-left: 0;
  }

  .topnav .signup {
    margin: 9px 0 9px 14px;
    border: 1px solid var(--gray-s);
    border-radius: 5px;
    padding: 6px 16px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1080px;
  } 
}
