{% extends "base.html" %} 

{% block content %}
  <section class="card mb-20">
    <form action="" method="POST" class="mt-40" id="signInForm">
      <fieldset>
        <legend>Sign in to PyBlog</legend>
        <!-- >>> CSRF token -->
        {{ form.hidden_tag() }}
        <!-- <<< CSRF token -->
        <!-- >>> Email -->
        {{ form.email.label }}
        {% if form.email.errors %} 
          {{ form.email(class="field-danger", placeholder=form.email.description) }} 
          <ul>
            {% for error in form.email.errors %}
              <li class="small text-danger">{{ error }}</li>
            {% endfor %}
          </ul>
        {% else %}  
          {{ form.email(placeholder=form.email.description) }} 
        {% endif %}
        <!-- <<< Email -->
        <!-- >>> Password -->
        {{ form.password.label }}
        {% if form.password.errors %} 
          <div class="forgot-password">
            {{ form.password(class="field-danger", placeholder=form.password.description) }} 
            <a href="{{ url_for('bp_user.email_token') }}">Forgot?</a>  
          </div>
          <ul>
            {% for error in form.password.errors %}
            <li class="small text-danger">{{ error }}</li>
            {% endfor %}
          </ul>
        {% else %}  
        <div class="forgot-password">
          {{ form.password(placeholder=form.password.description) }} 
          <a href="{{ url_for('bp_user.email_token') }}">Forgot?</a>  
        </div>
        {% endif %}
        <!-- <<< Password -->
        <!-- >>> Submit Button -->
        {{ form.submit(class="btn-info mt-26") }} 
        <!-- <<< Submit Button -->
      </fieldset>
    </form> 
    <p class="mt-20 mb-24">Need an account? <a href="{{ url_for('bp_auth.register') }}" class="ml-3">Sign up</a></p>  
  </section>
{% endblock content %}

{% block js %}
  <script type="module" src="{{ url_for('static', filename='js/login.js') }}"></script>  
{% endblock js %}
