:root {
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #f6f6f6;
  color: #292929;
  font-family: -apple-sytem, BlinkMacSystemFont, Ubuntu, Verdana, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

h2 {
  margin: 0;
}

p {
  line-height: 1.6;
  font-size: 1rem;
}

a {
  text-decoration: none;
}

#header {
  background-color: #18354c;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgb(0, 0, 0, 0.19);
} 

#main {
  width: 100%;
}   

#sidebar {
  width: 100%;
  margin-top: none;
  height: 600px; /* Pending */
}

/* Clear floating elements */
.clearfix::after {
  display: table;
  content: "";
  clear: both;
}

/* Prevent text from wrapping */
.nowrap {
  white-space: nowrap;
}

.container {
  width: 100%;
  margin: 0 auto;
} 

.gap {
  width: 100%;
  height: 100px;
}

.card {
  margin-bottom: 20px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 0 15px;
  background-color: #fff
}

.subcard {
  margin-bottom: 48px; 
}

.fright {
  float: none;
}

.fleft {
  float: none;
}

.small {
  font-size: 0.8rem;
}

.text-muted {
  color: #999;
}

.middot {
  padding: 0 4px;
}

.topnav {
  background-color: inherit;
} 

.topnav div {
  position: relative;
} 

.topnav a {
  display: none;
  padding: 15px;
  background-color: inherit;
  color: #f1f1f1;
  font-size: 1rem;
  font-weight: 500;
  opacity: 1;
  transition: background-color 0.4s, color 0.4s, opacity 0.4s;
}

.topnav a:hover {
  background-color: #f1f1f1;
  color: #18354c;
  opacity: 1;
}

.topnav .topnav-logo, .topnav .topnav-toggle {
  display: inline-block;
  font-size: 1.2rem;
  font-weight: bold;
}

.topnav .topnav-toggle {
  position: absolute;
  top: 50%;
  right: 15px;
  z-index: 1;
  transform: translateY(-50%);
  border: 2px solid #f1f1f1;
  border-radius: 4px;
  padding: 4px 7px;
}  

.topnav .topnav-logo:hover, .topnav .topnav-toggle:hover {
  background-color: inherit;
  color: #f1f1f1;
  opacity: 0.7;
}

/* Toggle the top navigation bar */
.toggle a {
  display: block;
}

.footer {
  padding: 16px 8px;
  background-color: #18354c; 
}

.footer nav {
  text-align: center;  
}

.footer a {
  padding-right: 8px;
  color: #f1f1f1;
  font-weight: 500;
  opacity: 1;
  transition: opacity 0.4s;
}

.footer a:last-child {
  padding-right: 0;
}

.footer a:hover {
  opacity: 0.7;
}

.badge header > span {
  line-height: 0;
}

.badge .username, .badge .fake-avatar {
  vertical-align: middle;
} 

.badge .username, .badge p {
  color: #666;
}

.badge .username {
  margin-left: 5px;
  font-weight: 500; 
  transition: color 0.4s;
}

.badge .username:hover {
  color: #619ccd;
}

/* Pending */
.badge .fake-avatar {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ddd;
} 

.badge .title {
  display: block;
  color: #619ccd;
  text-decoration: none;
  font-size: 1.5rem;
}

.badge .title, .badge p {
  margin: 8px 0;
}

.badge .level {
  display: inline-block;
  border-radius: 2px;
  padding: 4px;
  background-color: #f1f1f1;
  font-weight: 500;
}

/* 
@media screen and (min-width: 576px) {
}

@media screen and (min-width: 768px) {
}
*/
 
@media screen and (min-width: 992px) {
  p {
    font-size: 1.11rem;
  }

  #main {
    width: 70%;
    padding-right: 20px;
  }

  #sidebar {
    width: 30%;
  }

  .container {
    max-width: 940px;
  }

  .card {
    border: 1px solid #ddd;
    border-radius: 5px;
  }

  .fright {
    float: right;
  }

  .fleft {
    float: left;
  }

  .topnav .topnav-toggle {
    display: none;
  }

  .topnav {
    overflow: hidden;
  }

  .topnav a {
    float: left;
    display: block;
    padding: 16px 14px;
  }

  .topnav a:hover {
    background-color: inherit;
    color: #f1f1f1;
    opacity: 0.7;
  }

  .topnav .topnav-logo {
    padding: 14px;
    padding-left: 0;
  }

  .topnav .signup {
    margin: 9px 0;
    border: 1px solid #f1f1f1;
    border-radius: 5px;
    padding-top: 6px;
    padding-bottom: 6px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1080px;
  } 
}
