:root {
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Ubuntu, Verdana, sans-serif;
  height: 100vh;
  margin: 0;
}

.topnav {
  background-color: #18354c;
} 

.topnav div {
  position: relative;
} 

.topnav a {
  display: none;
  padding: 14px;
  color: #f1f1f1;
  text-decoration: none;
  font-weight: 500;
  transition: 0.4s;
}

.topnav a:hover {
  background-color: #f1f1f1;
  color: #18354c;
  font-weight: 500;
} 

.topnav .topnav-logo, .topnav .topnav-toggle {
  display: inline-block;
  background-color: inherit;
  font-size: 1.2rem;
}

.topnav .topnav-logo:hover, .topnav .topnav-toggle:hover {
  background-color: inherit;
  color: #f1f1f1;
  font-weight: bold;
  opacity: 0.7;
}

.topnav .topnav-logo {
  font-weight: bold;
}

.topnav .topnav-toggle {
  position: absolute;
  top: 50%;
  right: 14px;
  z-index: 1;
  transform: translateY(-50%);
  border: 2px solid #f1f1f1;
  border-radius: 4px;
  padding: 4px 7px;
}

/* Toggle the navigation bar */
.toggle a {
  display: block;
}

@media screen and (min-width: 600px) {
  .topnav .topnav-toggle {
    display: none;
  }

  .topnav {
    overflow: hidden;
  }

  .topnav a {
    float: left;
    display: block;
    padding: 16px 14px;
  }

  .topnav a:hover {
    background-color: #18354c;
    color: #f1f1f1;
    opacity: 0.7;
  }

  .topnav .topnav-logo {
    padding: 14px;
  }

  .topnav .fright {
    float: right;
  }

  .topnav .signup {
    margin: 9px 28px 9px 0;
    border: 1px solid #f1f1f1;
    border-radius: 4px;
    padding-top: 6px;
    padding-bottom: 6px;
  }
}
