{% extends "base.html" %}

{% block content %}
  <h1 id="title">PyBlog</h1>                     
  <h2 id="subtitle">A blog on Python and related technologies</h2>
  <article class="badge mt-48 mb-48">
    <header>
      <span class="fake-avatar"></span>
      <a href="#" class="username">John Doe</a>
      <h2>
        <a href={{ url_for("post")}} class="title mt-8 mb-8">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam</a>
      </h2>
    </header>
    <p class="post-subtitle mt-8 mb-8">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam.</p>
    <footer class="small text-muted">
      <span>Feb 30, 1712</span>
      <span class="middot">&middot;</span>
      <span>5 min read</span>
      <span class="middot">&middot;</span>
      <span class="level">Intermediate</span>
    </footer>
  </article>                
  <article class="badge mt-48 mb-48">
    <header>
      <span class="fake-avatar"></span>
      <a href="#" class="username">John Doe</a>
      <h2>
        <a href={{ url_for("post")}} class="title">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam</a>
      </h2>
    </header>
    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam.</p>
    <footer class="small text-muted">
      <span>Feb 30, 1712</span>
      <span class="middot">&middot;</span>
      <span>5 min read</span>
      <span class="middot">&middot;</span>
      <span class="level">Intermediate</span>
    </footer>
  </article>                
  <article class="badge mt-48 mb-48">
    <header>
      <span class="fake-avatar"></span>
      <a href="#" class="username">John Doe</a>
      <h2>
        <a href={{ url_for("post")}} class="title">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam</a>
      </h2>
    </header>
    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam.</p>
    <footer class="small text-muted">
      <span>Feb 30, 1712</span>
      <span class="middot">&middot;</span>
      <span>5 min read</span>
      <span class="middot">&middot;</span>
      <span class="level">Intermediate</span>
    </footer>
  </article>                
  <article class="badge mt-48 mb-48">
    <header>
      <span class="fake-avatar"></span>
      <a href="#" class="username">John Doe</a>
      <h2>
        <a href={{ url_for("post")}} class="title">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam</a>
      </h2>
    </header>
    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam.</p>
    <footer class="small text-muted">
      <span>Feb 30, 1712</span>
      <span class="middot">&middot;</span>
      <span>5 min read</span>
      <span class="middot">&middot;</span>
      <span class="level">Intermediate</span>
    </footer>
  </article>                
  <article class="badge mt-48 mb-48">
    <header>
      <span class="fake-avatar"></span>
      <a href="#" class="username">John Doe</a>
      <h2>
        <a href={{ url_for("post")}} class="title">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam</a>
      </h2>
    </header>
    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam.</p>
    <footer class="small text-muted">
      <span>Feb 30, 1712</span>
      <span class="middot">&middot;</span>
      <span>5 min read</span>
      <span class="middot">&middot;</span>
      <span class="level">Intermediate</span>
    </footer>
  </article>                
  <article class="badge mt-48 mb-48">
    <header>
      <span class="fake-avatar"></span>
      <a href="#" class="username">John Doe</a>
      <h2>
        <a href={{ url_for("post")}} class="title">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam</a>
      </h2>
    </header>
    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam.</p>
    <footer class="small text-muted">
      <span>Feb 30, 1712</span>
      <span class="middot">&middot;</span>
      <span>5 min read</span>
      <span class="middot">&middot;</span>
      <span class="level">Intermediate</span>
    </footer>
  </article>            
{% endblock content %}

