{% extends "base.html" %}

{% block content %}
  <section class="card mb-20">
    <h1 id="title">PyBlog</h1>                     
    <h2 class="mb-48" id="subtitle">A blog on Python and related technologies</h2>
    {% for post in posts %}
      <article class="badge mt-30 mb-30">
        <header>
          <span class="fake-avatar width-40 height-40"></span>
          <a href="{{ url_for('posts_written_by', author=post.author) }}" class="username">{{ post.author }}</a>
          <h2>
            <a href="{{ url_for('post', post_id=post.post_id) }}" class="title mt-8 mb-8">{{ post.title }}</a>
          </h2>
        </header>
        <p class="mt-8 mb-8 l-height-6 text-muted-dark">{{ post.subheading }}</p>
        <footer class="small text-muted-light">
          <span>{{ post.date }}</span>
          <span class="middot">&middot;</span>
          <span>5 min read</span>
          <span class="middot">&middot;</span>
          <span class="level">{{ post.level }}</span>
        </footer>
      </article> 
    {% endfor %}
{% endblock content %}

