{% extends "base.html" %}

{% block content %}
  <h1>Index Page (Pending...)</h1>                     
  <article class="badge subcard">
    <header>
      <span class="fake-avatar"></span>
      <a href="#" class="username">John Doe</a>
      <h2>
        <a href="#" class="title">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam</a>
      </h2>
    </header>
    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam.</p>
    <footer class="small text-muted">
      <span>Feb 30, 1712</span>
      <span class="middot">&middot;</span>
      <span>5 min read</span>
      <span class="middot">&middot;</span>
      <span class="level">Intermediate</span>
    </footer>
  </article>                
  <article class="badge subcard">
    <header>
      <span class="fake-avatar"></span>
      <a href="#" class="username">John Doe</a>
      <h2>
        <a href="#" class="title">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam</a>
      </h2>
    </header>
    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam.</p>
    <footer class="small text-muted">
      <span>Feb 30, 1712</span>
      <span class="middot">&middot;</span>
      <span>5 min read</span>
      <span class="middot">&middot;</span>
      <span class="level">Intermediate</span>
    </footer>
  </article>                
  <article class="badge subcard">
    <header>
      <span class="fake-avatar"></span>
      <a href="#" class="username">John Doe</a>
      <h2>
        <a href="#" class="title">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam</a>
      </h2>
    </header>
    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam.</p>
    <footer class="small text-muted">
      <span>Feb 30, 1712</span>
      <span class="middot">&middot;</span>
      <span>5 min read</span>
      <span class="middot">&middot;</span>
      <span class="level">Intermediate</span>
    </footer>
  </article>                
  <article class="badge subcard">
    <header>
      <span class="fake-avatar"></span>
      <a href="#" class="username">John Doe</a>
      <h2>
        <a href="#" class="title">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam</a>
      </h2>
    </header>
    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam.</p>
    <footer class="small text-muted">
      <span>Feb 30, 1712</span>
      <span class="middot">&middot;</span>
      <span>5 min read</span>
      <span class="middot">&middot;</span>
      <span class="level">Intermediate</span>
    </footer>
  </article>                
  <article class="badge subcard">
    <header>
      <span class="fake-avatar"></span>
      <a href="#" class="username">John Doe</a>
      <h2>
        <a href="#" class="title">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam</a>
      </h2>
    </header>
    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam.</p>
    <footer class="small text-muted">
      <span>Feb 30, 1712</span>
      <span class="middot">&middot;</span>
      <span>5 min read</span>
      <span class="middot">&middot;</span>
      <span class="level">Intermediate</span>
    </footer>
  </article>                
  <article class="badge subcard">
    <header>
      <span class="fake-avatar"></span>
      <a href="#" class="username">John Doe</a>
      <h2>
        <a href="#" class="title">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam</a>
      </h2>
    </header>
    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam.</p>
    <footer class="small text-muted">
      <span>Feb 30, 1712</span>
      <span class="middot">&middot;</span>
      <span>5 min read</span>
      <span class="middot">&middot;</span>
      <span class="level">Intermediate</span>
    </footer>
  </article>            
{% endblock content %}

