{% extends "base.html" %}

{% block content %}
  <section class="card mb-20">
    <div class="mt-40 mb-16 t-align-center">
      <span class="fake-avatar width-100 height-100"></span>
    </div>
    <p class="mt-0 mb-0">John Doe</p>
    <hr class="hr mt-0">
    <p class="mt-0 mb-24 l-height-6 text-muted-dark">I am lorem ipsum dolor sit amet, consetetur sadipscing elitr. I work for sed diam nonumy eirmod tempor invidunt ut labore. I like et dolore magna aliquyam.</p>
    <div class="mb-24 clearfix">    
      <div class="chart fleft width-third t-align-center">
        <span>Posts</span>
        <div class="circle">
          <span class="abs-center">35</span>
        </div>
      </div>  
      <div class="chart fleft width-third t-align-center">
        <span>Followers</span>
        <div class="circle">
          <span class="abs-center">5.2K</span>
        </div>
      </div>  
      <div class="chart fleft width-third t-align-center">
        <span>Following</span>
        <div class="circle">
          <span class="abs-center">200</span>
        </div>                                        
      </div> 
    </div>
  </section>
  <section class="card mb-20">
    <h1 class="h1-2 t-align-center text-muted-dark mb-0">By<br>John Doe</h1>
    <hr class="hr mt-0 mb-48">                  
    <article class="badge mt-0 mb-30">
      <header>
        <h2>
          <a href="{{ url_for('post', post_id=1) }}" class="title mt-8 mb-8">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam</a>
        </h2>
      </header>
      <p class="mt-8 mb-8 l-height-6 text-muted-dark">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam.</p>
      <footer class="small text-muted-light">
        <span>Feb 30, 1712</span>
        <span class="middot">&middot;</span>
        <span>5 min read</span>
        <span class="middot">&middot;</span>
        <span class="level">Intermediate</span>
      </footer>
    </article>                          
    <article class="badge mt-30 mb-30">
      <header>
        <h2>
          <a href="{{ url_for('post', post_id=1) }}" class="title mt-8 mb-8">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam</a>
        </h2>
      </header>
      <p class="mt-8 mb-8 l-height-6 text-muted-dark">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam.</p>
      <footer class="small text-muted-light">
        <span>Feb 30, 1712</span>
        <span class="middot">&middot;</span>
        <span>5 min read</span>
        <span class="middot">&middot;</span>
        <span class="level">Intermediate</span>
      </footer>
    </article>                        
    <article class="badge mt-30 mb-30">
      <header>
        <h2>
          <a href="{{ url_for('post', post_id=1) }}" class="title mt-8 mb-8">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam</a>
        </h2>
      </header>
      <p class="mt-8 mb-8 l-height-6 text-muted-dark">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam.</p>
      <footer class="small text-muted-light">
        <span>Feb 30, 1712</span>
        <span class="middot">&middot;</span>
        <span>5 min read</span>
        <span class="middot">&middot;</span>
        <span class="level">Intermediate</span>
      </footer>
    </article>                        
    <article class="badge mt-30 mb-30">
      <header>
        <h2>
          <a href="{{ url_for('post', post_id=1) }}" class="title mt-8 mb-8">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam</a>
        </h2>
      </header>
      <p class="mt-8 mb-8 l-height-6 text-muted-dark">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam.</p>
      <footer class="small text-muted-light">
        <span>Feb 30, 1712</span>
        <span class="middot">&middot;</span>
        <span>5 min read</span>
        <span class="middot">&middot;</span>
        <span class="level">Intermediate</span>
      </footer>
    </article>                        
    <article class="badge mt-30 mb-30">
      <header>
        <h2>
          <a href="{{ url_for('post', post_id=1) }}" class="title mt-8 mb-8">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam</a>
        </h2>
      </header>
      <p class="mt-8 mb-8 l-height-6 text-muted-dark">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam.</p>
      <footer class="small text-muted-light">
        <span>Feb 30, 1712</span>
        <span class="middot">&middot;</span>
        <span>5 min read</span>
        <span class="middot">&middot;</span>
        <span class="level">Intermediate</span>
      </footer>
    </article>                        
    <article class="badge mt-30 mb-30">
      <header>
        <h2>
          <a href="{{ url_for('post', post_id=1) }}" class="title mt-8 mb-8">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam</a>
        </h2>
      </header>
      <p class="mt-8 mb-8 l-height-6 text-muted-dark">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam.</p>
      <footer class="small text-muted-light">
        <span>Feb 30, 1712</span>
        <span class="middot">&middot;</span>
        <span>5 min read</span>
        <span class="middot">&middot;</span>
        <span class="level">Intermediate</span>
      </footer>
    </article>   
    <hr class="hr">
    <footer class="mt-20 mb-20">
      <div class="clearfix">
        <div class="previous fleft width-half t-align-left">
          <a href="#" class="circle">
            <span class="abs-center">
              <i class="fa-solid fa-angles-left fa-lg"></i>
            </span>
          </a>
        </div>
        <div class="next fleft width-half t-align-right">
          <a href="#" class="circle">
            <span class="abs-center">
              <i class="fa-solid fa-angles-right fa-lg"></i>
            </span>
          </a>
        </div>
      </div>
    </footer>                  
  </section>
{% endblock content %}
