{% extends "base.html" %}

{% block content %}
  <section class="card mb-20"> 
    <form class="mt-26 t-align-center" id="imageForm" action="" method="POST" enctype="multipart/form-data">
      <!-- >>> CSRF token -->
      {{ image_form.hidden_tag() }}
      <!-- <<< CSRF token -->    
      <!-- >>> Image -->
      <label class="avatar-username" for="image">
        <img class="width-100 height-100" src="{{ url_for('static', filename='images/default.png') }}" alt="Employee Avatar" width="100px" height="100px">
      </label> 
      {% if image_form.image.errors %} 
      {{ image_form.image(class="field-danger") }} 
      <ul>
        {% for error in image_form.image.errors %}
        <li class="small text-danger">{{ error }}</li>
        {% endfor %}
      </ul>
      {% else %}  
      {{ image_form.image() }} 
      {% endif %}
      <!-- <<< Image -->  
      <!-- >>> Submit Button -->
      {{ image_form.submit_image(form="imageForm", style="display: none;") }}
      <!-- <<< Submit Button -->  
    </form>
    <p class="mt-0 mb-0">{{ user["full_name"] }}</p>
    <hr class="hr mt-0">
    <p class="mt-0 mb-24 text-muted-dark l-height-6">{{ user["about_me"] }}</p>
    <div class="div-3 chart mb-24 clearfix">    
      <div class="fleft width-third t-align-center">
        <span>Posts</span>
        <div class="circle">
          <span class="abs-center">{{ user["num_posts"] }}</span>
        </div>
      </div>  
      <div class="fleft width-third t-align-center">
        <span>Followers</span>
        <div class="circle">
          <span class="abs-center">{{ user["num_followers"] }}</span>
        </div>
      </div>  
      <div class="fleft width-third t-align-center">
        <span>Following</span>
        <div class="circle">
          <span class="abs-center">{{ user["num_following"] }}</span>
        </div>                                        
      </div> 
    </div>    
    <button type="button" class="btn-info mt-24 mb-24" id="editProfileButton">Edit Profile</button>
  </section>
  <section class="card mb-20" id="profileFormCard">
    <form class="mt-40" id="profileForm" action="" method="POST" enctype="multipart/form-data">
      <fieldset form="profileForm">
        <legend>Profile</legend>    
        <div class="sort-toggle mb-6">
          <hr class="hr mt-0 mb-3"> 
          <span class="circle">
            <span class="abs-center">
              <i class="fa-solid fa-angles-down"></i>
            </span>
          </span> 
        </div>
        <div class="div-3 account mt-26 clearfix">
          <div class="fleft width-third t-align-center">
            <span>Password</span>
            <a href="{{ url_for('change_password', user_id=user['user_id']) }}" class="circle">
              <span class="abs-center">Change</span>
            </a>
          </div>  
          <div class="fleft width-third t-align-center">
            <span>Country</span>
            <div class="circle"> 
              <span class="abs-center">DE</span>
            </div>
          </div>  
          <div class="fleft width-third t-align-center">
            <span>Account</span>
            <div class="circle delete"> 
              <span class="abs-center">Delete</span>
            </div>
          </div>
        </div>
        <!-- >>> CSRF token -->
        {{ profile_form.hidden_tag() }}
        <!-- <<< CSRF token -->  
        <!-- >>> First Name -->
        {{ profile_form.first_name.label }}
        {% if profile_form.first_name.errors %} 
          {{ profile_form.first_name(class="field-danger", placeholder=profile_form.first_name.description) }} 
          <ul>
            {% for error in profile_form.first_name.errors %}
              <li class="small text-danger">{{ error }}</li>
            {% endfor %}
          </ul>
        {% else %}  
          {{ profile_form.first_name(placeholder=profile_form.first_name.description) }} 
        {% endif %}
        <!-- <<< First Name -->
        <!-- >>> Last Name -->
        {{ profile_form.last_name.label }}
        {% if profile_form.last_name.errors %} 
          {{ profile_form.last_name(class="field-danger", placeholder=profile_form.last_name.description) }} 
          <ul>
            {% for error in profile_form.last_name.errors %}
              <li class="small text-danger">{{ error }}</li>
            {% endfor %}
          </ul>
        {% else %}  
          {{ profile_form.last_name(placeholder=profile_form.last_name.description) }} 
        {% endif %}
        <!-- <<< Last Name --->    
        <!-- >>> Email -->
        {{ profile_form.email.label }}
        {% if profile_form.email.errors %} 
          {{ profile_form.email(class="field-danger", placeholder=profile_form.email.description) }} 
          <ul>
            {% for error in profile_form.email.errors %}
              <li class="small text-danger">{{ error }}</li>
            {% endfor %}
          </ul>
        {% else %}  
          {{ profile_form.email(placeholder=profile_form.email.description) }} 
        {% endif %}
        <!-- <<< Email -->
        <!-- >>> About Me -->
        {{ profile_form.about_me.label }}
        {% if profile_form.about_me.errors %} 
          {{ profile_form.about_me(class="field-danger", placeholder=profile_form.about_me.description, rows="3") }} 
          <ul>
            {% for error in profile_form.about_me.errors %}
              <li class="small text-danger">{{ error }}</li>
            {% endfor %}
          </ul>
        {% else %}  
          {{ profile_form.about_me(placeholder=profile_form.about_me.description, rows="3") }} 
        {% endif %}
        <!-- <<< About Me --> 
        <!-- >>> Submit Button -->
        {{ profile_form.submit_profile(class="btn-info mt-26", form="profileForm") }}
        <!-- <<< Submit Button -->         
        <button type="button" class="btn-default mt-8 mb-24" id="cancelProfileButton">Cancel</button>
      </fieldset>
    </form>   
    <!-- Delete Account Modal -->
    <div class="modal" id="deleteAccountModal">
      <div class="card modal-content">
        <form class="mt-40" method="Post" action="">
          <fieldset>
            <legend>Delete Account</legend>
            <hr class="hr mt-0 mb-30">
            <p>Are you sure you want to delete your account?</p>
            <div class="div-2">
              <div class="fleft t-align-center width-50pc">
                <input type="submit" value="Delete" class="btn-danger mb-16">
              </div>
              <div class="fleft t-align-center width-50pc">
                <button type="button" class="btn-default mt-0 mb-24">Cancel</button>  
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>  
  </section>
{% endblock content %}

{% block js %}
  <script type="module" src="{{ url_for('static', filename='js/profile.js') }}"></script>
{% endblock js %}
