{% extends "base.html" %}

{% block content %}
  <section class="card mb-20">
    <div class="mt-40 mb-16 t-align-center">
      <span class="fake-avatar width-100 height-100"></span>
    </div>
    <p class="mt-0 mb-0">{{ user["full_name"] }}</p>
    <hr class="hr mt-0">
    <p class="mt-0 mb-24 text-muted-dark l-height-6">{{ user["about_me"] }}</p>
    <div class="div-3 chart mb-24 clearfix">    
      <div class="fleft width-third t-align-center">
        <span>Posts</span>
        <div class="circle">
          <span class="abs-center">{{ user["num_posts"] }}</span>
        </div>
      </div>  
      <div class="fleft width-third t-align-center">
        <span>Followers</span>
        <div class="circle">
          <span class="abs-center">{{ user["num_followers"] }}</span>
        </div>
      </div>  
      <div class="fleft width-third t-align-center">
        <span>Following</span>
        <div class="circle">
          <span class="abs-center">{{ user["num_following"] }}</span>
        </div>                                        
      </div> 
    </div>    
    <button type="button" class="btn btn-info mt-24 mb-24" id="editProfileButton">Edit Profile</button>
  </section>
  <section class="card mb-20" id="profileFormCard">
    <form class="mt-40" action="" method="POST" id="profileForm">
      <fieldset form="profileForm">
        <legend class="t-align-center">Profile</legend> 
        <hr class="hr mt-0 mb-26">
        <label for="firstName">First Name</label>
        <input type="text" id="firstName" name="first_name" value="{{ user["first_name"] }}">
        <label for="lastName">Last Name</label>
        <input type="text" id="lastName" name="last_name" value="{{ user["last_name"] }}">
        <label for="emailAddress">Email</label>
        <input type="email" id="emailAddress" name="email" value="{{ user["email"] }}">
        <label for="aboutMe">About me</label>
        <textarea id="aboutMe" name="about_me" rows="3">{{ user["about_me"] }}</textarea> 
        <input type="submit" value="Update" class="mb-16">
        <button type="button" class="btn-default mt-0 mb-24" id="cancelProfileButton">Cancel</button>
      </fieldset>
    </form>
  </section>
{% endblock content %}

{% block js %}
  <script src="{{ url_for('static', filename='js/profile.js') }}"></script>
{% endblock js %}
