{% extends "base.html" %}

{% block content %}
  <form action="" method="POST" class="mt-40 mb-20">
    <fieldset>
      <legend>Become a Python Expert</legend>
      <hr class="hr mt-0 mb-26">
      <label for="firstName">First Name</label>
      <input type="text" id="firstName" name="first_name" placeholder="Enter First Name" required>
      <label for="lastName">Last Name</label>
      <input type="text" id="lastName" name="last_name" placeholder="Enter Last Name" required>
      <label for="emailAddress">Email</label>
      <input type="email" id="emailAddress" name="email" placeholder="Enter Email Address" required>
      <label for="password">Password</label>
      <input type="password" id="password" name="password" placeholder="Enter Password" required>
      <label for="repeatPassword">Repeat Password</label>
      <input type="password" id="repeatPassword" name="repeat_password" placeholder="Repeat Password" required>
      <p class="small mt-0 mb-0">By creating an account you agree to our <a href="#">Terms & Conditions</a>.</p>
      <input type="submit" value="Sign up">
      <div class="mt-0 mb-0">Already have an account? <a href="{{ url_for("login") }}" class="ml-3">Sign in</a></div>
    </fieldset>
  </form>
{% endblock content %}
