{% extends "base.html" %}

{% block content %} 
  <section class="card mb-20">
    <form action="" method="POST" class="mt-40 mb-20">
      <fieldset>
        <legend class="t-align-center">Recover your account</legend> 
        <hr class="hr mt-0 mb-26"> 
        <label for="password">Password</label>
        <input type="password" id="password" name="password" placeholder="Enter Password" required>
        <label for="repeatPassword">Repeat Password</label>
        <input type="password" id="repeatPassword" name="repeat_password" placeholder="Repeat Password" required>  
        <input type="submit" value="Reset Password"> 
      </fieldset>
    </form>  
  </section>
{% endblock content %}
