{% extends "base.html" %}

{% block content %}
  <section class="card mb-20">
    <span class="waterdrop width-20 height-20"></span>
    <article id="singlePost">
      <!-- Post Header -->
      <header>
        <h1 class="post-title mt-50">{{ selected_post.title }}</h1>    
        {% if current_user.is_authenticated and current_user == selected_post.author %}       
          <div class="date-level-author clearfix"> 
            <span class="time-stamp">{{ selected_post.time_stamp() }}</span> <!-- JS-only class: time-stamp -->
            <span class="fleft width-third text-muted-light t-align-left lag"></span> <!-- JS-only class: lag --> 
            <span class="fleft width-third text-muted-light t-align-center">{{ selected_post.level }}</span>
          </div> 
          <div class="sort-toggle">
            <hr class="hr mt-0 mb-3"> 
            <span class="circle">
              <span class="abs-center">
                <i class="fa-solid fa-angles-down"></i>
              </span>
            </span> 
          </div> 
          <div class="div-3 edit-hide-delete mt-30 clearfix"> 
            <div class="fleft width-third t-align-center">
              <a href="{{ url_for('bp_post.edit_post', post_id=selected_post.id) }}" class="circle">
                <span class="abs-center">Edit</span>
              </a> 
            </div> 
            <div class="fleft width-third t-align-center">
              {% if selected_post.public %} 
              <a href="{{ url_for('bp_post.hide_post', post_id=selected_post.id) }}" class="circle"> 
                <span class="abs-center">Hide</span>
              </a> 
              {% else %} 
              <a href="{{ url_for('bp_post.show_post', post_id=selected_post.id) }}" class="circle"> 
                <span class="abs-center">Show</span>
              </a> 
              {% endif %} 
            </div>  
            <div class="fleft width-third t-align-center">
              <div class="circle delete"> 
                <span class="abs-center">Delete</span>
              </div>
            </div>
          </div>
        {% else %}      
          <div class="date-level-author clearfix"> 
            <span class="time-stamp">{{ selected_post.time_stamp() }}</span> <!-- JS-only class: time-stamp -->
            <span class="fleft width-third text-muted-light t-align-left lag"></span> <!-- JS-only class: lag -->   
            <span class="fleft width-third text-muted-light t-align-center">{{ selected_post.level }}</span> 
            <span class="fleft width-third text-muted-light t-align-right">{{ selected_post.reading_time }} min read</span> 
          </div>
          <hr class="hr mt-0 mb-0">
        {% endif %}      
        <p class="l-height-6 text-muted-dark mt-24">{{ selected_post.subheading }}</p>
      </header>

      <!-- Post Body -->     
      <p class="post-content">{{ selected_post.content }}</p>

      {% if current_user != selected_post.author %}
      {% if current_user.is_authenticated %}
      {% if current_user in selected_post.saved_by %}  
      <form action="{{ url_for('bp_user.unbookmark', post_id=selected_post.id) }}" method="POST">
        <fieldset>
          <!-- >>> CSRF token -->
          {{ follower_form.hidden_tag() }}
          <!-- <<< CSRF token -->
          <!-- >>> Submit Button -->
          {{ follower_form.submit(class="fright unbookmark small text-muted-dark", value="Unsave") }}
          <!-- <<< Submit Button -->
        </fieldset>
      </form> 
      {% else %} 
      <form action="{{ url_for('bp_user.bookmark', post_id=selected_post.id) }}" method="POST">
        <fieldset>
          <!-- >>> CSRF token -->
          {{ follower_form.hidden_tag() }}
          <!-- <<< CSRF token -->
          <!-- >>> Submit Button -->
          {{ follower_form.submit(class="fright bookmark small text-muted-dark", value="Save") }}
          <!-- <<< Submit Button -->
        </fieldset>
      </form> 
      {% endif %}
      {% else %}
      <form action="{{ url_for('bp_user.bookmark', post_id=selected_post.id) }}" method="POST">
        <fieldset>
          <!-- >>> CSRF token -->
          {{ follower_form.hidden_tag() }}
          <!-- <<< CSRF token -->
          <!-- >>> Submit Button -->
          {{ follower_form.submit(class="fright bookmark small text-muted-dark", value="Save") }}
          <!-- <<< Submit Button -->
        </fieldset>
      </form>
      {% endif %}
      {% endif %}          
      <hr class="hr mt-6">

      <!-- Post Footer > -->
      <footer class="mt-20 mb-20">
        <div class="div-3 clearfix">
          <div class="fleft width-third t-align-left">  
            {% if previous_post %} 
            <a href="{{ url_for('bp_post.post', post_id=previous_post.id) }}" class="circle">
              <span class="abs-center">
                <i class="fa-solid fa-angles-left fa-lg"></i>
              </span>
            </a>
            {% else %}  
            <div class="circle disabled">
              <span class="abs-center t-align-center">
                <i class="fa-solid fa-angles-left fa-lg"></i>
              </span>
            </div> 
            {% endif %} 
          </div> 
          <div class="fleft width-third t-align-center">
            <a href="{{ url_for('bp_main.index') }}" class="circle">
              <span class="abs-center">
                <i class="fa-solid fa-house fa-lg"></i>
              </span>
            </a>
          </div>   
          <div class="fleft width-third t-align-right">  
            {% if next_post %} 
            <a href="{{ url_for('bp_post.post', post_id=next_post.id) }}" class="circle">
              <span class="abs-center">
                <i class="fa-solid fa-angles-right fa-lg"></i>
              </span>
            </a> 
            {% else %}  
            <div class="circle disabled">
              <span class="abs-center t-align-center">
                <i class="fa-solid fa-angles-right fa-lg"></i>
              </span>
            </div> 
            {% endif %}
          </div>
        </div>
      </footer>
      <!-- < Post Footer -->

      <!-- Delete Post Modal > -->
      <div class="modal" id="deletePostModal">
        <div class="card modal-content">
          <form class="mt-40" method="Post" action="{{ url_for('bp_post.delete_post', post_id=selected_post.id) }}" id="deletePostForm">
            <fieldset>
              <legend>Delete Post</legend>
              <p class="l-height-6 mb-26">Are you sure you want to delete this post?</p>
              <div class="div-2">
                <div class="fleft t-align-center width-50pc">
                  <!-- CSRF Token > -->
                  {{ delete_post_form.hidden_tag() }}
                  <!-- < CSRF Token -->
                  <!-- > Submit -->
                  {{ delete_post_form.submit(class="btn-danger mb-16", value="Delete") }}
                  <!-- < Submit -->
                </div>
                <div class="fleft t-align-center width-50pc">
                  <button type="button" class="btn-default mt-0 mb-24">Cancel</button>  
                </div>
              </div>
            </fieldset>
          </form>
        </div>
      </div>  
      <!-- < Delete Post Modal -->
    </article>
  </section>
{% endblock content %}

{% block sidebar %}
  <div class="card mb-20"> 
    {% if current_user != selected_post.author %}
      {% if current_user.is_authenticated %}
        {% if current_user in selected_post.author.followers %}  
          <form action="{{ url_for('bp_user.unfollow', user_id=selected_post.author.id) }}" method="POST">
            <fieldset>
              <!-- >>> CSRF token -->
              {{ follower_form.hidden_tag() }}
              <!-- <<< CSRF token -->
              <!-- >>> Submit Button -->
              {{ follower_form.submit(class="unfollow small text-muted-dark", value="Unfollow") }}
              <!-- <<< Submit Button -->
            </fieldset>
          </form> 
        {% else %} 
          <form action="{{ url_for('bp_user.follow', user_id=selected_post.author.id) }}" method="POST">
            <fieldset>
              <!-- >>> CSRF token -->
              {{ follower_form.hidden_tag() }}
              <!-- <<< CSRF token -->
              <!-- >>> Submit Button -->
              {{ follower_form.submit(class="follow small text-muted-dark", value="Follow") }}
              <!-- <<< Submit Button -->
            </fieldset>
          </form> 
        {% endif %}
      {% else %}
        <form action="{{ url_for('bp_user.follow', user_id=selected_post.author.id) }}" method="POST">
          <fieldset>
            <!-- >>> CSRF token -->
            {{ follower_form.hidden_tag() }}
            <!-- <<< CSRF token -->
            <!-- >>> Submit Button -->
            {{ follower_form.submit(class="follow small text-muted-dark", value="Follow") }}
            <!-- <<< Submit Button -->
          </fieldset>
        </form>
      {% endif %} 
      <div class="avatar-username mt-54">
        <a href="{{ url_for('bp_post.posts_written_by', user_id=selected_post.author.id) }}">
          <img class="width-50 height-50" src="{{ url_for('static', filename='images/default.png') }}" alt="Employee Avatar" width="50px" height="50px">
          <span>{{ selected_post.author.fullname }}</span>
        </a>  
      </div>  
      <p class="small l-height-6 text-muted-dark mt-14 mb-24">{{ selected_post.author.about_me }}</p> 
    {% else %}  
      <div class="avatar-username mt-24">
        <a href="{{ url_for('bp_post.posts_written_by', user_id=selected_post.author.id) }}">
          <img class="width-50 height-50" src="{{ url_for('static', filename='images/default.png') }}" alt="Employee Avatar" width="50px" height="50px">
          <span>{{ selected_post.author.fullname }}</span>
        </a>  
      </div>  
      <p class="small l-height-6 text-muted-dark mt-14 mb-24">{{ selected_post.author.about_me }}</p> 
    {% endif %}
  </div>

  <!-- More Posts > -->
  {% if more_posts %}
    <div class="more-posts card mb-20">
      <p class="f-weight-500 text-muted-dark mt-24 mb-14">More posts by {{ selected_post.author.fullname }}</p>    
      {% for post in more_posts[:3] %}
        <h2>
          <a href="{{ url_for('bp_post.post', post_id=post.id) }}">{{ post.title }}</a>
        </h2>  
        <hr class="hr">
    {% endfor %}
    {% if more_posts|length > 3 %} 
      <a class="see-all" href="{{ url_for('bp_post.posts_written_by', user_id=selected_post.author.id) }}">
        <span class="mr-3">See all</span>
        <i class="fa-solid fa-arrow-right"></i>
      </a> 
    {% endif %} 
    </div>
  {% else %} 
    <!-- Top Writers > -->
    <div class="card">
      <header class="mt-24 mb-16 t-align-center">
        <h3>
          <i class="fa-solid fa-arrow-up-1-9 fa-fw"></i>
          <span class="trending">Top Writers</span>
        </h3>
      </header>                 
      {% for writer in g.top_writers %}  
        <div class="avatar-username mb-16">
          <a href="{{ url_for('bp_post.posts_written_by', user_id=writer.id) }}">
            <img class="width-50 height-50" src="{{ url_for('static', filename='images/{}'.format(writer.image)) }}" alt="Employee Avatar" width="50px" height="50px">
            <span>{{ writer.fullname }}</span>
          </a>  
        </div>  
      {% endfor %}
    </div>
    <!-- < Top Writers --> 
  {% endif %}
{% endblock sidebar %}   

{% block js %}
  <script type="module" src="{{ url_for('static', filename='js/post.js') }}"></script>  
{% endblock js %} 
